.u-font-open-sans-condensed-300 {
          font-family: 'Open Sans Condensed' !important;
          font-weight: 300 !important;
}
.u-font-open-sans-condensed-300-italic {
        font-family: 'Open Sans Condensed' !important;
        font-weight: 300 !important;
        font-style: italic !important;
}
.u-font-open-sans-condensed-700 {
          font-family: 'Open Sans Condensed' !important;
          font-weight: 700 !important;
}
