.u-font-hind-guntur-300 {
          font-family: 'Hind Guntur' !important;
          font-weight: 300 !important;
}
.u-font-hind-guntur-400 {
          font-family: 'Hind Guntur' !important;
          font-weight: 400 !important;
}
.u-font-hind-guntur-500 {
          font-family: 'Hind Guntur' !important;
          font-weight: 500 !important;
}
.u-font-hind-guntur-600 {
          font-family: 'Hind Guntur' !important;
          font-weight: 600 !important;
}
.u-font-hind-guntur-700 {
          font-family: 'Hind Guntur' !important;
          font-weight: 700 !important;
}
