.u-font-epilogue-100 {
          font-family: 'Epilogue' !important;
          font-weight: 100 !important;
}
.u-font-epilogue-200 {
          font-family: 'Epilogue' !important;
          font-weight: 200 !important;
}
.u-font-epilogue-300 {
          font-family: 'Epilogue' !important;
          font-weight: 300 !important;
}
.u-font-epilogue-400 {
          font-family: 'Epilogue' !important;
          font-weight: 400 !important;
}
.u-font-epilogue-500 {
          font-family: 'Epilogue' !important;
          font-weight: 500 !important;
}
.u-font-epilogue-600 {
          font-family: 'Epilogue' !important;
          font-weight: 600 !important;
}
.u-font-epilogue-700 {
          font-family: 'Epilogue' !important;
          font-weight: 700 !important;
}
.u-font-epilogue-800 {
          font-family: 'Epilogue' !important;
          font-weight: 800 !important;
}
.u-font-epilogue-900 {
          font-family: 'Epilogue' !important;
          font-weight: 900 !important;
}
.u-font-epilogue-100-italic {
        font-family: 'Epilogue' !important;
        font-weight: 100 !important;
        font-style: italic !important;
}
.u-font-epilogue-200-italic {
        font-family: 'Epilogue' !important;
        font-weight: 200 !important;
        font-style: italic !important;
}
.u-font-epilogue-300-italic {
        font-family: 'Epilogue' !important;
        font-weight: 300 !important;
        font-style: italic !important;
}
.u-font-epilogue-400-italic {
        font-family: 'Epilogue' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-epilogue-500-italic {
        font-family: 'Epilogue' !important;
        font-weight: 500 !important;
        font-style: italic !important;
}
.u-font-epilogue-600-italic {
        font-family: 'Epilogue' !important;
        font-weight: 600 !important;
        font-style: italic !important;
}
.u-font-epilogue-700-italic {
        font-family: 'Epilogue' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}
.u-font-epilogue-800-italic {
        font-family: 'Epilogue' !important;
        font-weight: 800 !important;
        font-style: italic !important;
}
.u-font-epilogue-900-italic {
        font-family: 'Epilogue' !important;
        font-weight: 900 !important;
        font-style: italic !important;
}