.u-font-comfortaa-300 {
          font-family: 'Comfortaa' !important;
          font-weight: 300 !important;
}
.u-font-comfortaa-400 {
          font-family: 'Comfortaa' !important;
          font-weight: 400 !important;
}
.u-font-comfortaa-500 {
          font-family: 'Comfortaa' !important;
          font-weight: 500 !important;
}
.u-font-comfortaa-600 {
          font-family: 'Comfortaa' !important;
          font-weight: 600 !important;
}
.u-font-comfortaa-700 {
          font-family: 'Comfortaa' !important;
          font-weight: 700 !important;
}
