.u-font-nobile-400 {
          font-family: 'Nobile' !important;
          font-weight: 400 !important;
}
.u-font-nobile-400-italic {
        font-family: 'Nobile' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-nobile-500 {
          font-family: 'Nobile' !important;
          font-weight: 500 !important;
}
.u-font-nobile-500-italic {
        font-family: 'Nobile' !important;
        font-weight: 500 !important;
        font-style: italic !important;
}
.u-font-nobile-700 {
          font-family: 'Nobile' !important;
          font-weight: 700 !important;
}
.u-font-nobile-700-italic {
        font-family: 'Nobile' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}
