.u-font-yrsa-300 {
          font-family: 'Yrsa' !important;
          font-weight: 300 !important;
}
.u-font-yrsa-400 {
          font-family: 'Yrsa' !important;
          font-weight: 400 !important;
}
.u-font-yrsa-500 {
          font-family: 'Yrsa' !important;
          font-weight: 500 !important;
}
.u-font-yrsa-600 {
          font-family: 'Yrsa' !important;
          font-weight: 600 !important;
}
.u-font-yrsa-700 {
          font-family: 'Yrsa' !important;
          font-weight: 700 !important;
}
