.u-font-delius-unicase-400 {
          font-family: 'Delius Unicase' !important;
          font-weight: 400 !important;
}
.u-font-delius-unicase-700 {
          font-family: 'Delius Unicase' !important;
          font-weight: 700 !important;
}