.u-font-caladea-400 {
          font-family: 'Caladea' !important;
          font-weight: 400 !important;
}
.u-font-caladea-400-italic {
        font-family: 'Caladea' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-caladea-700 {
          font-family: 'Caladea' !important;
          font-weight: 700 !important;
}
.u-font-caladea-700-italic {
        font-family: 'Caladea' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}