.u-font-nanum-gothic-400 {
          font-family: 'Nanum Gothic' !important;
          font-weight: 400 !important;
}
.u-font-nanum-gothic-700 {
          font-family: 'Nanum Gothic' !important;
          font-weight: 700 !important;
}
.u-font-nanum-gothic-800 {
          font-family: 'Nanum Gothic' !important;
          font-weight: 800 !important;
}