.u-font-jura-300 {
          font-family: 'Jura' !important;
          font-weight: 300 !important;
}
.u-font-jura-400 {
          font-family: 'Jura' !important;
          font-weight: 400 !important;
}
.u-font-jura-500 {
          font-family: 'Jura' !important;
          font-weight: 500 !important;
}
.u-font-jura-600 {
          font-family: 'Jura' !important;
          font-weight: 600 !important;
}
.u-font-jura-700 {
          font-family: 'Jura' !important;
          font-weight: 700 !important;
}
