.u-font-gaegu-300 {
          font-family: 'Gaegu' !important;
          font-weight: 300 !important;
}
.u-font-gaegu-400 {
          font-family: 'Gaegu' !important;
          font-weight: 400 !important;
}
.u-font-gaegu-700 {
          font-family: 'Gaegu' !important;
          font-weight: 700 !important;
}