.u-font-poly-400 {
          font-family: 'Poly' !important;
          font-weight: 400 !important;
}
.u-font-poly-400-italic {
        font-family: 'Poly' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}