.u-font-noticia-text-400 {
          font-family: 'Noticia Text' !important;
          font-weight: 400 !important;
}
.u-font-noticia-text-400-italic {
        font-family: 'Noticia Text' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-noticia-text-700 {
          font-family: 'Noticia Text' !important;
          font-weight: 700 !important;
}
.u-font-noticia-text-700-italic {
        font-family: 'Noticia Text' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}