.u-font-overpass-mono-300 {
          font-family: 'Overpass Mono' !important;
          font-weight: 300 !important;
}
.u-font-overpass-mono-400 {
          font-family: 'Overpass Mono' !important;
          font-weight: 400 !important;
}
.u-font-overpass-mono-600 {
          font-family: 'Overpass Mono' !important;
          font-weight: 600 !important;
}
.u-font-overpass-mono-700 {
          font-family: 'Overpass Mono' !important;
          font-weight: 700 !important;
}
