.u-font-chathura-100 {
          font-family: 'Chathura' !important;
          font-weight: 100 !important;
}
.u-font-chathura-300 {
          font-family: 'Chathura' !important;
          font-weight: 300 !important;
}
.u-font-chathura-400 {
          font-family: 'Chathura' !important;
          font-weight: 400 !important;
}
.u-font-chathura-700 {
          font-family: 'Chathura' !important;
          font-weight: 700 !important;
}
.u-font-chathura-800 {
          font-family: 'Chathura' !important;
          font-weight: 800 !important;
}