.u-font-tienne-400 {
          font-family: 'Tienne' !important;
          font-weight: 400 !important;
}
.u-font-tienne-700 {
          font-family: 'Tienne' !important;
          font-weight: 700 !important;
}
.u-font-tienne-900 {
          font-family: 'Tienne' !important;
          font-weight: 900 !important;
}