.u-font-fira-code-300 {
          font-family: 'Fira Code' !important;
          font-weight: 300 !important;
}
.u-font-fira-code-400 {
          font-family: 'Fira Code' !important;
          font-weight: 400 !important;
}
.u-font-fira-code-500 {
          font-family: 'Fira Code' !important;
          font-weight: 500 !important;
}
.u-font-fira-code-600 {
          font-family: 'Fira Code' !important;
          font-weight: 600 !important;
}
.u-font-fira-code-700 {
          font-family: 'Fira Code' !important;
          font-weight: 700 !important;
}