.u-font-red-hat-display-400 {
          font-family: 'Red Hat Display' !important;
          font-weight: 400 !important;
}
.u-font-red-hat-display-400-italic {
        font-family: 'Red Hat Display' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-red-hat-display-500 {
          font-family: 'Red Hat Display' !important;
          font-weight: 500 !important;
}
.u-font-red-hat-display-500-italic {
        font-family: 'Red Hat Display' !important;
        font-weight: 500 !important;
        font-style: italic !important;
}
.u-font-red-hat-display-700 {
          font-family: 'Red Hat Display' !important;
          font-weight: 700 !important;
}
.u-font-red-hat-display-700-italic {
        font-family: 'Red Hat Display' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}
.u-font-red-hat-display-900 {
          font-family: 'Red Hat Display' !important;
          font-weight: 900 !important;
}
.u-font-red-hat-display-900-italic {
        font-family: 'Red Hat Display' !important;
        font-weight: 900 !important;
        font-style: italic !important;
}
