.u-font-red-rose-300 {
          font-family: 'Red Rose' !important;
          font-weight: 300 !important;
}
.u-font-red-rose-400 {
          font-family: 'Red Rose' !important;
          font-weight: 400 !important;
}
.u-font-red-rose-500 {
          font-family: 'Red Rose' !important;
          font-weight: 500 !important;
}
.u-font-red-rose-600 {
          font-family: 'Red Rose' !important;
          font-weight: 600 !important;
}
.u-font-red-rose-700 {
          font-family: 'Red Rose' !important;
          font-weight: 700 !important;
}