.u-font-encode-sans-expanded-100 {
          font-family: 'Encode Sans Expanded' !important;
          font-weight: 100 !important;
}
.u-font-encode-sans-expanded-200 {
          font-family: 'Encode Sans Expanded' !important;
          font-weight: 200 !important;
}
.u-font-encode-sans-expanded-300 {
          font-family: 'Encode Sans Expanded' !important;
          font-weight: 300 !important;
}
.u-font-encode-sans-expanded-400 {
          font-family: 'Encode Sans Expanded' !important;
          font-weight: 400 !important;
}
.u-font-encode-sans-expanded-500 {
          font-family: 'Encode Sans Expanded' !important;
          font-weight: 500 !important;
}
.u-font-encode-sans-expanded-600 {
          font-family: 'Encode Sans Expanded' !important;
          font-weight: 600 !important;
}
.u-font-encode-sans-expanded-700 {
          font-family: 'Encode Sans Expanded' !important;
          font-weight: 700 !important;
}
.u-font-encode-sans-expanded-800 {
          font-family: 'Encode Sans Expanded' !important;
          font-weight: 800 !important;
}
.u-font-encode-sans-expanded-900 {
          font-family: 'Encode Sans Expanded' !important;
          font-weight: 900 !important;
}