.u-font-libre-caslon-text-400 {
          font-family: 'Libre Caslon Text' !important;
          font-weight: 400 !important;
}
.u-font-libre-caslon-text-400-italic {
        font-family: 'Libre Caslon Text' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-libre-caslon-text-700 {
          font-family: 'Libre Caslon Text' !important;
          font-weight: 700 !important;
}