.u-font-spectral-200 {
          font-family: 'Spectral' !important;
          font-weight: 200 !important;
}
.u-font-spectral-200-italic {
        font-family: 'Spectral' !important;
        font-weight: 200 !important;
        font-style: italic !important;
}
.u-font-spectral-300 {
          font-family: 'Spectral' !important;
          font-weight: 300 !important;
}
.u-font-spectral-300-italic {
        font-family: 'Spectral' !important;
        font-weight: 300 !important;
        font-style: italic !important;
}
.u-font-spectral-400 {
          font-family: 'Spectral' !important;
          font-weight: 400 !important;
}
.u-font-spectral-400-italic {
        font-family: 'Spectral' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-spectral-500 {
          font-family: 'Spectral' !important;
          font-weight: 500 !important;
}
.u-font-spectral-500-italic {
        font-family: 'Spectral' !important;
        font-weight: 500 !important;
        font-style: italic !important;
}
.u-font-spectral-600 {
          font-family: 'Spectral' !important;
          font-weight: 600 !important;
}
.u-font-spectral-600-italic {
        font-family: 'Spectral' !important;
        font-weight: 600 !important;
        font-style: italic !important;
}
.u-font-spectral-700 {
          font-family: 'Spectral' !important;
          font-weight: 700 !important;
}
.u-font-spectral-700-italic {
        font-family: 'Spectral' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}
.u-font-spectral-800 {
          font-family: 'Spectral' !important;
          font-weight: 800 !important;
}
.u-font-spectral-800-italic {
        font-family: 'Spectral' !important;
        font-weight: 800 !important;
        font-style: italic !important;
}