.u-font-cinzel-decorative-400 {
          font-family: 'Cinzel Decorative' !important;
          font-weight: 400 !important;
}
.u-font-cinzel-decorative-700 {
          font-family: 'Cinzel Decorative' !important;
          font-weight: 700 !important;
}
.u-font-cinzel-decorative-900 {
          font-family: 'Cinzel Decorative' !important;
          font-weight: 900 !important;
}
