.u-font-cabin-sketch-400 {
          font-family: 'Cabin Sketch' !important;
          font-weight: 400 !important;
}
.u-font-cabin-sketch-700 {
          font-family: 'Cabin Sketch' !important;
          font-weight: 700 !important;
}
