.u-font-alef-400 {
          font-family: 'Alef' !important;
          font-weight: 400 !important;
}
.u-font-alef-700 {
          font-family: 'Alef' !important;
          font-weight: 700 !important;
}