.u-font-open-sans-300 {
          font-family: 'Open Sans' !important;
          font-weight: 300 !important;
}
.u-font-open-sans-300-italic {
        font-family: 'Open Sans' !important;
        font-weight: 300 !important;
        font-style: italic !important;
}
.u-font-open-sans-400 {
          font-family: 'Open Sans' !important;
          font-weight: 400 !important;
}
.u-font-open-sans-400-italic {
        font-family: 'Open Sans' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-open-sans-600 {
          font-family: 'Open Sans' !important;
          font-weight: 600 !important;
}
.u-font-open-sans-600-italic {
        font-family: 'Open Sans' !important;
        font-weight: 600 !important;
        font-style: italic !important;
}
.u-font-open-sans-700 {
          font-family: 'Open Sans' !important;
          font-weight: 700 !important;
}
.u-font-open-sans-700-italic {
        font-family: 'Open Sans' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}
.u-font-open-sans-800 {
          font-family: 'Open Sans' !important;
          font-weight: 800 !important;
}
.u-font-open-sans-800-italic {
        font-family: 'Open Sans' !important;
        font-weight: 800 !important;
        font-style: italic !important;
}
