.u-font-merienda-400 {
          font-family: 'Merienda' !important;
          font-weight: 400 !important;
}
.u-font-merienda-700 {
          font-family: 'Merienda' !important;
          font-weight: 700 !important;
}