.u-font-cambay-400 {
          font-family: 'Cambay' !important;
          font-weight: 400 !important;
}
.u-font-cambay-400-italic {
        font-family: 'Cambay' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-cambay-700 {
          font-family: 'Cambay' !important;
          font-weight: 700 !important;
}
.u-font-cambay-700-italic {
        font-family: 'Cambay' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}
