.u-font-bellota-text-300 {
          font-family: 'Bellota Text' !important;
          font-weight: 300 !important;
}
.u-font-bellota-text-300-italic {
        font-family: 'Bellota Text' !important;
        font-weight: 300 !important;
        font-style: italic !important;
}
.u-font-bellota-text-400 {
          font-family: 'Bellota Text' !important;
          font-weight: 400 !important;
}
.u-font-bellota-text-400-italic {
        font-family: 'Bellota Text' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-bellota-text-700 {
          font-family: 'Bellota Text' !important;
          font-weight: 700 !important;
}
.u-font-bellota-text-700-italic {
        font-family: 'Bellota Text' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}