.u-font-cabin-400 {
          font-family: 'Cabin' !important;
          font-weight: 400 !important;
}
.u-font-cabin-500 {
          font-family: 'Cabin' !important;
          font-weight: 500 !important;
}
.u-font-cabin-600 {
          font-family: 'Cabin' !important;
          font-weight: 600 !important;
}
.u-font-cabin-700 {
          font-family: 'Cabin' !important;
          font-weight: 700 !important;
}
.u-font-cabin-400-italic {
        font-family: 'Cabin' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-cabin-500-italic {
        font-family: 'Cabin' !important;
        font-weight: 500 !important;
        font-style: italic !important;
}
.u-font-cabin-600-italic {
        font-family: 'Cabin' !important;
        font-weight: 600 !important;
        font-style: italic !important;
}
.u-font-cabin-700-italic {
        font-family: 'Cabin' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}
