.u-font-teko-300 {
          font-family: 'Teko' !important;
          font-weight: 300 !important;
}
.u-font-teko-400 {
          font-family: 'Teko' !important;
          font-weight: 400 !important;
}
.u-font-teko-500 {
          font-family: 'Teko' !important;
          font-weight: 500 !important;
}
.u-font-teko-600 {
          font-family: 'Teko' !important;
          font-weight: 600 !important;
}
.u-font-teko-700 {
          font-family: 'Teko' !important;
          font-weight: 700 !important;
}
