.u-font-literata-200 {
          font-family: 'Literata' !important;
          font-weight: 200 !important;
}
.u-font-literata-300 {
          font-family: 'Literata' !important;
          font-weight: 300 !important;
}
.u-font-literata-400 {
          font-family: 'Literata' !important;
          font-weight: 400 !important;
}
.u-font-literata-500 {
          font-family: 'Literata' !important;
          font-weight: 500 !important;
}
.u-font-literata-600 {
          font-family: 'Literata' !important;
          font-weight: 600 !important;
}
.u-font-literata-700 {
          font-family: 'Literata' !important;
          font-weight: 700 !important;
}
.u-font-literata-800 {
          font-family: 'Literata' !important;
          font-weight: 800 !important;
}
.u-font-literata-900 {
          font-family: 'Literata' !important;
          font-weight: 900 !important;
}
.u-font-literata-200-italic {
        font-family: 'Literata' !important;
        font-weight: 200 !important;
        font-style: italic !important;
}
.u-font-literata-300-italic {
        font-family: 'Literata' !important;
        font-weight: 300 !important;
        font-style: italic !important;
}
.u-font-literata-400-italic {
        font-family: 'Literata' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-literata-500-italic {
        font-family: 'Literata' !important;
        font-weight: 500 !important;
        font-style: italic !important;
}
.u-font-literata-600-italic {
        font-family: 'Literata' !important;
        font-weight: 600 !important;
        font-style: italic !important;
}
.u-font-literata-700-italic {
        font-family: 'Literata' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}
.u-font-literata-800-italic {
        font-family: 'Literata' !important;
        font-weight: 800 !important;
        font-style: italic !important;
}
.u-font-literata-900-italic {
        font-family: 'Literata' !important;
        font-weight: 900 !important;
        font-style: italic !important;
}
