.u-font-mitr-200 {
          font-family: 'Mitr' !important;
          font-weight: 200 !important;
}
.u-font-mitr-300 {
          font-family: 'Mitr' !important;
          font-weight: 300 !important;
}
.u-font-mitr-400 {
          font-family: 'Mitr' !important;
          font-weight: 400 !important;
}
.u-font-mitr-500 {
          font-family: 'Mitr' !important;
          font-weight: 500 !important;
}
.u-font-mitr-600 {
          font-family: 'Mitr' !important;
          font-weight: 600 !important;
}
.u-font-mitr-700 {
          font-family: 'Mitr' !important;
          font-weight: 700 !important;
}
