.u-font-merriweather-300 {
          font-family: 'Merriweather' !important;
          font-weight: 300 !important;
}
.u-font-merriweather-300-italic {
        font-family: 'Merriweather' !important;
        font-weight: 300 !important;
        font-style: italic !important;
}
.u-font-merriweather-400 {
          font-family: 'Merriweather' !important;
          font-weight: 400 !important;
}
.u-font-merriweather-400-italic {
        font-family: 'Merriweather' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-merriweather-700 {
          font-family: 'Merriweather' !important;
          font-weight: 700 !important;
}
.u-font-merriweather-700-italic {
        font-family: 'Merriweather' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}
.u-font-merriweather-900 {
          font-family: 'Merriweather' !important;
          font-weight: 900 !important;
}
.u-font-merriweather-900-italic {
        font-family: 'Merriweather' !important;
        font-weight: 900 !important;
        font-style: italic !important;
}