.u-font-mukta-200 {
          font-family: 'Mukta' !important;
          font-weight: 200 !important;
}
.u-font-mukta-300 {
          font-family: 'Mukta' !important;
          font-weight: 300 !important;
}
.u-font-mukta-400 {
          font-family: 'Mukta' !important;
          font-weight: 400 !important;
}
.u-font-mukta-500 {
          font-family: 'Mukta' !important;
          font-weight: 500 !important;
}
.u-font-mukta-600 {
          font-family: 'Mukta' !important;
          font-weight: 600 !important;
}
.u-font-mukta-700 {
          font-family: 'Mukta' !important;
          font-weight: 700 !important;
}
.u-font-mukta-800 {
          font-family: 'Mukta' !important;
          font-weight: 800 !important;
}