.u-font-judson-400 {
          font-family: 'Judson' !important;
          font-weight: 400 !important;
}
.u-font-judson-400-italic {
        font-family: 'Judson' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-judson-700 {
          font-family: 'Judson' !important;
          font-weight: 700 !important;
}
