.u-font-archivo-narrow-400 {
          font-family: 'Archivo Narrow' !important;
          font-weight: 400 !important;
}
.u-font-archivo-narrow-400-italic {
        font-family: 'Archivo Narrow' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-archivo-narrow-500 {
          font-family: 'Archivo Narrow' !important;
          font-weight: 500 !important;
}
.u-font-archivo-narrow-500-italic {
        font-family: 'Archivo Narrow' !important;
        font-weight: 500 !important;
        font-style: italic !important;
}
.u-font-archivo-narrow-600 {
          font-family: 'Archivo Narrow' !important;
          font-weight: 600 !important;
}
.u-font-archivo-narrow-600-italic {
        font-family: 'Archivo Narrow' !important;
        font-weight: 600 !important;
        font-style: italic !important;
}
.u-font-archivo-narrow-700 {
          font-family: 'Archivo Narrow' !important;
          font-weight: 700 !important;
}
.u-font-archivo-narrow-700-italic {
        font-family: 'Archivo Narrow' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}