.u-font-commissioner-100 {
          font-family: 'Commissioner' !important;
          font-weight: 100 !important;
}
.u-font-commissioner-200 {
          font-family: 'Commissioner' !important;
          font-weight: 200 !important;
}
.u-font-commissioner-300 {
          font-family: 'Commissioner' !important;
          font-weight: 300 !important;
}
.u-font-commissioner-400 {
          font-family: 'Commissioner' !important;
          font-weight: 400 !important;
}
.u-font-commissioner-500 {
          font-family: 'Commissioner' !important;
          font-weight: 500 !important;
}
.u-font-commissioner-600 {
          font-family: 'Commissioner' !important;
          font-weight: 600 !important;
}
.u-font-commissioner-700 {
          font-family: 'Commissioner' !important;
          font-weight: 700 !important;
}
.u-font-commissioner-800 {
          font-family: 'Commissioner' !important;
          font-weight: 800 !important;
}
.u-font-commissioner-900 {
          font-family: 'Commissioner' !important;
          font-weight: 900 !important;
}
