.u-font-cinzel-400 {
          font-family: 'Cinzel' !important;
          font-weight: 400 !important;
}
.u-font-cinzel-500 {
          font-family: 'Cinzel' !important;
          font-weight: 500 !important;
}
.u-font-cinzel-600 {
          font-family: 'Cinzel' !important;
          font-weight: 600 !important;
}
.u-font-cinzel-700 {
          font-family: 'Cinzel' !important;
          font-weight: 700 !important;
}
.u-font-cinzel-800 {
          font-family: 'Cinzel' !important;
          font-weight: 800 !important;
}
.u-font-cinzel-900 {
          font-family: 'Cinzel' !important;
          font-weight: 900 !important;
}