.u-font-asul-400 {
          font-family: 'Asul' !important;
          font-weight: 400 !important;
}
.u-font-asul-700 {
          font-family: 'Asul' !important;
          font-weight: 700 !important;
}
