.u-font-dm-serif-text-400 {
          font-family: 'DM Serif Text' !important;
          font-weight: 400 !important;
}
.u-font-dm-serif-text-400-italic {
        font-family: 'DM Serif Text' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
