.u-font-gupter-400 {
          font-family: 'Gupter' !important;
          font-weight: 400 !important;
}
.u-font-gupter-500 {
          font-family: 'Gupter' !important;
          font-weight: 500 !important;
}
.u-font-gupter-700 {
          font-family: 'Gupter' !important;
          font-weight: 700 !important;
}
