.u-font-unna-400 {
          font-family: 'Unna' !important;
          font-weight: 400 !important;
}
.u-font-unna-400-italic {
        font-family: 'Unna' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-unna-700 {
          font-family: 'Unna' !important;
          font-weight: 700 !important;
}
.u-font-unna-700-italic {
        font-family: 'Unna' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}
