.u-font-sanchez-400 {
          font-family: 'Sanchez' !important;
          font-weight: 400 !important;
}
.u-font-sanchez-400-italic {
        font-family: 'Sanchez' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
