.u-font-athiti-200 {
          font-family: 'Athiti' !important;
          font-weight: 200 !important;
}
.u-font-athiti-300 {
          font-family: 'Athiti' !important;
          font-weight: 300 !important;
}
.u-font-athiti-400 {
          font-family: 'Athiti' !important;
          font-weight: 400 !important;
}
.u-font-athiti-500 {
          font-family: 'Athiti' !important;
          font-weight: 500 !important;
}
.u-font-athiti-600 {
          font-family: 'Athiti' !important;
          font-weight: 600 !important;
}
.u-font-athiti-700 {
          font-family: 'Athiti' !important;
          font-weight: 700 !important;
}
