.u-font-petrona-100 {
          font-family: 'Petrona' !important;
          font-weight: 100 !important;
}
.u-font-petrona-200 {
          font-family: 'Petrona' !important;
          font-weight: 200 !important;
}
.u-font-petrona-300 {
          font-family: 'Petrona' !important;
          font-weight: 300 !important;
}
.u-font-petrona-400 {
          font-family: 'Petrona' !important;
          font-weight: 400 !important;
}
.u-font-petrona-500 {
          font-family: 'Petrona' !important;
          font-weight: 500 !important;
}
.u-font-petrona-600 {
          font-family: 'Petrona' !important;
          font-weight: 600 !important;
}
.u-font-petrona-700 {
          font-family: 'Petrona' !important;
          font-weight: 700 !important;
}
.u-font-petrona-800 {
          font-family: 'Petrona' !important;
          font-weight: 800 !important;
}
.u-font-petrona-900 {
          font-family: 'Petrona' !important;
          font-weight: 900 !important;
}
.u-font-petrona-100-italic {
        font-family: 'Petrona' !important;
        font-weight: 100 !important;
        font-style: italic !important;
}
.u-font-petrona-200-italic {
        font-family: 'Petrona' !important;
        font-weight: 200 !important;
        font-style: italic !important;
}
.u-font-petrona-300-italic {
        font-family: 'Petrona' !important;
        font-weight: 300 !important;
        font-style: italic !important;
}
.u-font-petrona-400-italic {
        font-family: 'Petrona' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-petrona-500-italic {
        font-family: 'Petrona' !important;
        font-weight: 500 !important;
        font-style: italic !important;
}
.u-font-petrona-600-italic {
        font-family: 'Petrona' !important;
        font-weight: 600 !important;
        font-style: italic !important;
}
.u-font-petrona-700-italic {
        font-family: 'Petrona' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}
.u-font-petrona-800-italic {
        font-family: 'Petrona' !important;
        font-weight: 800 !important;
        font-style: italic !important;
}
.u-font-petrona-900-italic {
        font-family: 'Petrona' !important;
        font-weight: 900 !important;
        font-style: italic !important;
}