.u-font-bellota-300 {
          font-family: 'Bellota' !important;
          font-weight: 300 !important;
}
.u-font-bellota-300-italic {
        font-family: 'Bellota' !important;
        font-weight: 300 !important;
        font-style: italic !important;
}
.u-font-bellota-400 {
          font-family: 'Bellota' !important;
          font-weight: 400 !important;
}
.u-font-bellota-400-italic {
        font-family: 'Bellota' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-bellota-700 {
          font-family: 'Bellota' !important;
          font-weight: 700 !important;
}
.u-font-bellota-700-italic {
        font-family: 'Bellota' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}
