.u-font-castoro-400 {
          font-family: 'Castoro' !important;
          font-weight: 400 !important;
}
.u-font-castoro-400-italic {
        font-family: 'Castoro' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
