.u-font-skranji-400 {
          font-family: 'Skranji' !important;
          font-weight: 400 !important;
}
.u-font-skranji-700 {
          font-family: 'Skranji' !important;
          font-weight: 700 !important;
}