.u-font-padauk-400 {
          font-family: 'Padauk' !important;
          font-weight: 400 !important;
}
.u-font-padauk-700 {
          font-family: 'Padauk' !important;
          font-weight: 700 !important;
}