.u-font-jaldi-400 {
          font-family: 'Jaldi' !important;
          font-weight: 400 !important;
}
.u-font-jaldi-700 {
          font-family: 'Jaldi' !important;
          font-weight: 700 !important;
}