.u-font-caudex-400 {
          font-family: 'Caudex' !important;
          font-weight: 400 !important;
}
.u-font-caudex-400-italic {
        font-family: 'Caudex' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-caudex-700 {
          font-family: 'Caudex' !important;
          font-weight: 700 !important;
}
.u-font-caudex-700-italic {
        font-family: 'Caudex' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}