.u-font-flamenco-300 {
          font-family: 'Flamenco' !important;
          font-weight: 300 !important;
}
.u-font-flamenco-400 {
          font-family: 'Flamenco' !important;
          font-weight: 400 !important;
}