.u-font-pt-sans-caption-400 {
          font-family: 'PT Sans Caption' !important;
          font-weight: 400 !important;
}
.u-font-pt-sans-caption-700 {
          font-family: 'PT Sans Caption' !important;
          font-weight: 700 !important;
}