.u-font-noto-serif-kr-200 {
          font-family: 'Noto Serif KR' !important;
          font-weight: 200 !important;
}
.u-font-noto-serif-kr-300 {
          font-family: 'Noto Serif KR' !important;
          font-weight: 300 !important;
}
.u-font-noto-serif-kr-400 {
          font-family: 'Noto Serif KR' !important;
          font-weight: 400 !important;
}
.u-font-noto-serif-kr-500 {
          font-family: 'Noto Serif KR' !important;
          font-weight: 500 !important;
}
.u-font-noto-serif-kr-600 {
          font-family: 'Noto Serif KR' !important;
          font-weight: 600 !important;
}
.u-font-noto-serif-kr-700 {
          font-family: 'Noto Serif KR' !important;
          font-weight: 700 !important;
}
.u-font-noto-serif-kr-900 {
          font-family: 'Noto Serif KR' !important;
          font-weight: 900 !important;
}
