.u-font-glegoo-400 {
          font-family: 'Glegoo' !important;
          font-weight: 400 !important;
}
.u-font-glegoo-700 {
          font-family: 'Glegoo' !important;
          font-weight: 700 !important;
}
