.u-font-tangerine-400 {
          font-family: 'Tangerine' !important;
          font-weight: 400 !important;
}
.u-font-tangerine-700 {
          font-family: 'Tangerine' !important;
          font-weight: 700 !important;
}
