.u-font-noto-sans-tc-100 {
          font-family: 'Noto Sans TC' !important;
          font-weight: 100 !important;
}
.u-font-noto-sans-tc-300 {
          font-family: 'Noto Sans TC' !important;
          font-weight: 300 !important;
}
.u-font-noto-sans-tc-400 {
          font-family: 'Noto Sans TC' !important;
          font-weight: 400 !important;
}
.u-font-noto-sans-tc-500 {
          font-family: 'Noto Sans TC' !important;
          font-weight: 500 !important;
}
.u-font-noto-sans-tc-700 {
          font-family: 'Noto Sans TC' !important;
          font-weight: 700 !important;
}
.u-font-noto-sans-tc-900 {
          font-family: 'Noto Sans TC' !important;
          font-weight: 900 !important;
}