.u-font-faustina-400 {
          font-family: 'Faustina' !important;
          font-weight: 400 !important;
}
.u-font-faustina-500 {
          font-family: 'Faustina' !important;
          font-weight: 500 !important;
}
.u-font-faustina-600 {
          font-family: 'Faustina' !important;
          font-weight: 600 !important;
}
.u-font-faustina-700 {
          font-family: 'Faustina' !important;
          font-weight: 700 !important;
}
.u-font-faustina-400-italic {
        font-family: 'Faustina' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-faustina-500-italic {
        font-family: 'Faustina' !important;
        font-weight: 500 !important;
        font-style: italic !important;
}
.u-font-faustina-600-italic {
        font-family: 'Faustina' !important;
        font-weight: 600 !important;
        font-style: italic !important;
}
.u-font-faustina-700-italic {
        font-family: 'Faustina' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}
