.u-font-amiko-400 {
          font-family: 'Amiko' !important;
          font-weight: 400 !important;
}
.u-font-amiko-600 {
          font-family: 'Amiko' !important;
          font-weight: 600 !important;
}
.u-font-amiko-700 {
          font-family: 'Amiko' !important;
          font-weight: 700 !important;
}
