.u-font-amiri-400 {
          font-family: 'Amiri' !important;
          font-weight: 400 !important;
}
.u-font-amiri-400-italic {
        font-family: 'Amiri' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-amiri-700 {
          font-family: 'Amiri' !important;
          font-weight: 700 !important;
}
.u-font-amiri-700-italic {
        font-family: 'Amiri' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}