.u-font-jost-100 {
          font-family: 'Jost' !important;
          font-weight: 100 !important;
}
.u-font-jost-200 {
          font-family: 'Jost' !important;
          font-weight: 200 !important;
}
.u-font-jost-300 {
          font-family: 'Jost' !important;
          font-weight: 300 !important;
}
.u-font-jost-400 {
          font-family: 'Jost' !important;
          font-weight: 400 !important;
}
.u-font-jost-500 {
          font-family: 'Jost' !important;
          font-weight: 500 !important;
}
.u-font-jost-600 {
          font-family: 'Jost' !important;
          font-weight: 600 !important;
}
.u-font-jost-700 {
          font-family: 'Jost' !important;
          font-weight: 700 !important;
}
.u-font-jost-800 {
          font-family: 'Jost' !important;
          font-weight: 800 !important;
}
.u-font-jost-900 {
          font-family: 'Jost' !important;
          font-weight: 900 !important;
}
.u-font-jost-100-italic {
        font-family: 'Jost' !important;
        font-weight: 100 !important;
        font-style: italic !important;
}
.u-font-jost-200-italic {
        font-family: 'Jost' !important;
        font-weight: 200 !important;
        font-style: italic !important;
}
.u-font-jost-300-italic {
        font-family: 'Jost' !important;
        font-weight: 300 !important;
        font-style: italic !important;
}
.u-font-jost-400-italic {
        font-family: 'Jost' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-jost-500-italic {
        font-family: 'Jost' !important;
        font-weight: 500 !important;
        font-style: italic !important;
}
.u-font-jost-600-italic {
        font-family: 'Jost' !important;
        font-weight: 600 !important;
        font-style: italic !important;
}
.u-font-jost-700-italic {
        font-family: 'Jost' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}
.u-font-jost-800-italic {
        font-family: 'Jost' !important;
        font-weight: 800 !important;
        font-style: italic !important;
}
.u-font-jost-900-italic {
        font-family: 'Jost' !important;
        font-weight: 900 !important;
        font-style: italic !important;
}