.u-font-fahkwang-200 {
          font-family: 'Fahkwang' !important;
          font-weight: 200 !important;
}
.u-font-fahkwang-200-italic {
        font-family: 'Fahkwang' !important;
        font-weight: 200 !important;
        font-style: italic !important;
}
.u-font-fahkwang-300 {
          font-family: 'Fahkwang' !important;
          font-weight: 300 !important;
}
.u-font-fahkwang-300-italic {
        font-family: 'Fahkwang' !important;
        font-weight: 300 !important;
        font-style: italic !important;
}
.u-font-fahkwang-400 {
          font-family: 'Fahkwang' !important;
          font-weight: 400 !important;
}
.u-font-fahkwang-400-italic {
        font-family: 'Fahkwang' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-fahkwang-500 {
          font-family: 'Fahkwang' !important;
          font-weight: 500 !important;
}
.u-font-fahkwang-500-italic {
        font-family: 'Fahkwang' !important;
        font-weight: 500 !important;
        font-style: italic !important;
}
.u-font-fahkwang-600 {
          font-family: 'Fahkwang' !important;
          font-weight: 600 !important;
}
.u-font-fahkwang-600-italic {
        font-family: 'Fahkwang' !important;
        font-weight: 600 !important;
        font-style: italic !important;
}
.u-font-fahkwang-700 {
          font-family: 'Fahkwang' !important;
          font-weight: 700 !important;
}
.u-font-fahkwang-700-italic {
        font-family: 'Fahkwang' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}