.u-font-noto-sans-hk-100 {
          font-family: 'Noto Sans HK' !important;
          font-weight: 100 !important;
}
.u-font-noto-sans-hk-300 {
          font-family: 'Noto Sans HK' !important;
          font-weight: 300 !important;
}
.u-font-noto-sans-hk-400 {
          font-family: 'Noto Sans HK' !important;
          font-weight: 400 !important;
}
.u-font-noto-sans-hk-500 {
          font-family: 'Noto Sans HK' !important;
          font-weight: 500 !important;
}
.u-font-noto-sans-hk-700 {
          font-family: 'Noto Sans HK' !important;
          font-weight: 700 !important;
}
.u-font-noto-sans-hk-900 {
          font-family: 'Noto Sans HK' !important;
          font-weight: 900 !important;
}
