.u-font-rosarivo-400 {
          font-family: 'Rosarivo' !important;
          font-weight: 400 !important;
}
.u-font-rosarivo-400-italic {
        font-family: 'Rosarivo' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}