.u-font-cairo-200 {
          font-family: 'Cairo' !important;
          font-weight: 200 !important;
}
.u-font-cairo-300 {
          font-family: 'Cairo' !important;
          font-weight: 300 !important;
}
.u-font-cairo-400 {
          font-family: 'Cairo' !important;
          font-weight: 400 !important;
}
.u-font-cairo-600 {
          font-family: 'Cairo' !important;
          font-weight: 600 !important;
}
.u-font-cairo-700 {
          font-family: 'Cairo' !important;
          font-weight: 700 !important;
}
.u-font-cairo-900 {
          font-family: 'Cairo' !important;
          font-weight: 900 !important;
}
