.u-font-asap-condensed-400 {
          font-family: 'Asap Condensed' !important;
          font-weight: 400 !important;
}
.u-font-asap-condensed-400-italic {
        font-family: 'Asap Condensed' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-asap-condensed-500 {
          font-family: 'Asap Condensed' !important;
          font-weight: 500 !important;
}
.u-font-asap-condensed-500-italic {
        font-family: 'Asap Condensed' !important;
        font-weight: 500 !important;
        font-style: italic !important;
}
.u-font-asap-condensed-600 {
          font-family: 'Asap Condensed' !important;
          font-weight: 600 !important;
}
.u-font-asap-condensed-600-italic {
        font-family: 'Asap Condensed' !important;
        font-weight: 600 !important;
        font-style: italic !important;
}
.u-font-asap-condensed-700 {
          font-family: 'Asap Condensed' !important;
          font-weight: 700 !important;
}
.u-font-asap-condensed-700-italic {
        font-family: 'Asap Condensed' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}
