.u-font-arvo-400 {
          font-family: 'Arvo' !important;
          font-weight: 400 !important;
}
.u-font-arvo-400-italic {
        font-family: 'Arvo' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-arvo-700 {
          font-family: 'Arvo' !important;
          font-weight: 700 !important;
}
.u-font-arvo-700-italic {
        font-family: 'Arvo' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}
