.u-font-david-libre-400 {
          font-family: 'David Libre' !important;
          font-weight: 400 !important;
}
.u-font-david-libre-500 {
          font-family: 'David Libre' !important;
          font-weight: 500 !important;
}
.u-font-david-libre-700 {
          font-family: 'David Libre' !important;
          font-weight: 700 !important;
}
