.u-font-encode-sans-100 {
          font-family: 'Encode Sans' !important;
          font-weight: 100 !important;
}
.u-font-encode-sans-200 {
          font-family: 'Encode Sans' !important;
          font-weight: 200 !important;
}
.u-font-encode-sans-300 {
          font-family: 'Encode Sans' !important;
          font-weight: 300 !important;
}
.u-font-encode-sans-400 {
          font-family: 'Encode Sans' !important;
          font-weight: 400 !important;
}
.u-font-encode-sans-500 {
          font-family: 'Encode Sans' !important;
          font-weight: 500 !important;
}
.u-font-encode-sans-600 {
          font-family: 'Encode Sans' !important;
          font-weight: 600 !important;
}
.u-font-encode-sans-700 {
          font-family: 'Encode Sans' !important;
          font-weight: 700 !important;
}
.u-font-encode-sans-800 {
          font-family: 'Encode Sans' !important;
          font-weight: 800 !important;
}
.u-font-encode-sans-900 {
          font-family: 'Encode Sans' !important;
          font-weight: 900 !important;
}
