.u-font-buenard-400 {
          font-family: 'Buenard' !important;
          font-weight: 400 !important;
}
.u-font-buenard-700 {
          font-family: 'Buenard' !important;
          font-weight: 700 !important;
}