.u-font-cormorant-upright-300 {
          font-family: 'Cormorant Upright' !important;
          font-weight: 300 !important;
}
.u-font-cormorant-upright-400 {
          font-family: 'Cormorant Upright' !important;
          font-weight: 400 !important;
}
.u-font-cormorant-upright-500 {
          font-family: 'Cormorant Upright' !important;
          font-weight: 500 !important;
}
.u-font-cormorant-upright-600 {
          font-family: 'Cormorant Upright' !important;
          font-weight: 600 !important;
}
.u-font-cormorant-upright-700 {
          font-family: 'Cormorant Upright' !important;
          font-weight: 700 !important;
}
