.u-font-big-shoulders-text-100 {
          font-family: 'Big Shoulders Text' !important;
          font-weight: 100 !important;
}
.u-font-big-shoulders-text-300 {
          font-family: 'Big Shoulders Text' !important;
          font-weight: 300 !important;
}
.u-font-big-shoulders-text-400 {
          font-family: 'Big Shoulders Text' !important;
          font-weight: 400 !important;
}
.u-font-big-shoulders-text-500 {
          font-family: 'Big Shoulders Text' !important;
          font-weight: 500 !important;
}
.u-font-big-shoulders-text-600 {
          font-family: 'Big Shoulders Text' !important;
          font-weight: 600 !important;
}
.u-font-big-shoulders-text-700 {
          font-family: 'Big Shoulders Text' !important;
          font-weight: 700 !important;
}
.u-font-big-shoulders-text-800 {
          font-family: 'Big Shoulders Text' !important;
          font-weight: 800 !important;
}
.u-font-big-shoulders-text-900 {
          font-family: 'Big Shoulders Text' !important;
          font-weight: 900 !important;
}
