.u-font-yanone-kaffeesatz-200 {
          font-family: 'Yanone Kaffeesatz' !important;
          font-weight: 200 !important;
}
.u-font-yanone-kaffeesatz-300 {
          font-family: 'Yanone Kaffeesatz' !important;
          font-weight: 300 !important;
}
.u-font-yanone-kaffeesatz-400 {
          font-family: 'Yanone Kaffeesatz' !important;
          font-weight: 400 !important;
}
.u-font-yanone-kaffeesatz-500 {
          font-family: 'Yanone Kaffeesatz' !important;
          font-weight: 500 !important;
}
.u-font-yanone-kaffeesatz-600 {
          font-family: 'Yanone Kaffeesatz' !important;
          font-weight: 600 !important;
}
.u-font-yanone-kaffeesatz-700 {
          font-family: 'Yanone Kaffeesatz' !important;
          font-weight: 700 !important;
}