.u-font-dancing-script-400 {
          font-family: 'Dancing Script' !important;
          font-weight: 400 !important;
}
.u-font-dancing-script-500 {
          font-family: 'Dancing Script' !important;
          font-weight: 500 !important;
}
.u-font-dancing-script-600 {
          font-family: 'Dancing Script' !important;
          font-weight: 600 !important;
}
.u-font-dancing-script-700 {
          font-family: 'Dancing Script' !important;
          font-weight: 700 !important;
}