.u-font-mate-400 {
          font-family: 'Mate' !important;
          font-weight: 400 !important;
}
.u-font-mate-400-italic {
        font-family: 'Mate' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}