.u-font-noto-sans-jp-100 {
          font-family: 'Noto Sans JP' !important;
          font-weight: 100 !important;
}
.u-font-noto-sans-jp-300 {
          font-family: 'Noto Sans JP' !important;
          font-weight: 300 !important;
}
.u-font-noto-sans-jp-400 {
          font-family: 'Noto Sans JP' !important;
          font-weight: 400 !important;
}
.u-font-noto-sans-jp-500 {
          font-family: 'Noto Sans JP' !important;
          font-weight: 500 !important;
}
.u-font-noto-sans-jp-700 {
          font-family: 'Noto Sans JP' !important;
          font-weight: 700 !important;
}
.u-font-noto-sans-jp-900 {
          font-family: 'Noto Sans JP' !important;
          font-weight: 900 !important;
}
