.u-font-advent-pro-100 {
          font-family: 'Advent Pro' !important;
          font-weight: 100 !important;
}
.u-font-advent-pro-200 {
          font-family: 'Advent Pro' !important;
          font-weight: 200 !important;
}
.u-font-advent-pro-300 {
          font-family: 'Advent Pro' !important;
          font-weight: 300 !important;
}
.u-font-advent-pro-400 {
          font-family: 'Advent Pro' !important;
          font-weight: 400 !important;
}
.u-font-advent-pro-500 {
          font-family: 'Advent Pro' !important;
          font-weight: 500 !important;
}
.u-font-advent-pro-600 {
          font-family: 'Advent Pro' !important;
          font-weight: 600 !important;
}
.u-font-advent-pro-700 {
          font-family: 'Advent Pro' !important;
          font-weight: 700 !important;
}