.u-font-raleway-100 {
          font-family: 'Raleway' !important;
          font-weight: 100 !important;
}
.u-font-raleway-200 {
          font-family: 'Raleway' !important;
          font-weight: 200 !important;
}
.u-font-raleway-300 {
          font-family: 'Raleway' !important;
          font-weight: 300 !important;
}
.u-font-raleway-400 {
          font-family: 'Raleway' !important;
          font-weight: 400 !important;
}
.u-font-raleway-500 {
          font-family: 'Raleway' !important;
          font-weight: 500 !important;
}
.u-font-raleway-600 {
          font-family: 'Raleway' !important;
          font-weight: 600 !important;
}
.u-font-raleway-700 {
          font-family: 'Raleway' !important;
          font-weight: 700 !important;
}
.u-font-raleway-800 {
          font-family: 'Raleway' !important;
          font-weight: 800 !important;
}
.u-font-raleway-900 {
          font-family: 'Raleway' !important;
          font-weight: 900 !important;
}
.u-font-raleway-100-italic {
        font-family: 'Raleway' !important;
        font-weight: 100 !important;
        font-style: italic !important;
}
.u-font-raleway-200-italic {
        font-family: 'Raleway' !important;
        font-weight: 200 !important;
        font-style: italic !important;
}
.u-font-raleway-300-italic {
        font-family: 'Raleway' !important;
        font-weight: 300 !important;
        font-style: italic !important;
}
.u-font-raleway-400-italic {
        font-family: 'Raleway' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-raleway-500-italic {
        font-family: 'Raleway' !important;
        font-weight: 500 !important;
        font-style: italic !important;
}
.u-font-raleway-600-italic {
        font-family: 'Raleway' !important;
        font-weight: 600 !important;
        font-style: italic !important;
}
.u-font-raleway-700-italic {
        font-family: 'Raleway' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}
.u-font-raleway-800-italic {
        font-family: 'Raleway' !important;
        font-weight: 800 !important;
        font-style: italic !important;
}
.u-font-raleway-900-italic {
        font-family: 'Raleway' !important;
        font-weight: 900 !important;
        font-style: italic !important;
}