.u-font-kulim-park-200 {
          font-family: 'Kulim Park' !important;
          font-weight: 200 !important;
}
.u-font-kulim-park-200-italic {
        font-family: 'Kulim Park' !important;
        font-weight: 200 !important;
        font-style: italic !important;
}
.u-font-kulim-park-300 {
          font-family: 'Kulim Park' !important;
          font-weight: 300 !important;
}
.u-font-kulim-park-300-italic {
        font-family: 'Kulim Park' !important;
        font-weight: 300 !important;
        font-style: italic !important;
}
.u-font-kulim-park-400 {
          font-family: 'Kulim Park' !important;
          font-weight: 400 !important;
}
.u-font-kulim-park-400-italic {
        font-family: 'Kulim Park' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-kulim-park-600 {
          font-family: 'Kulim Park' !important;
          font-weight: 600 !important;
}
.u-font-kulim-park-600-italic {
        font-family: 'Kulim Park' !important;
        font-weight: 600 !important;
        font-style: italic !important;
}
.u-font-kulim-park-700 {
          font-family: 'Kulim Park' !important;
          font-weight: 700 !important;
}
.u-font-kulim-park-700-italic {
        font-family: 'Kulim Park' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}
