.u-font-abeezee-400 {
          font-family: 'ABeeZee' !important;
          font-weight: 400 !important;
}
.u-font-abeezee-400-italic {
        font-family: 'ABeeZee' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}