.u-font-arima-madurai-100 {
          font-family: 'Arima Madurai' !important;
          font-weight: 100 !important;
}
.u-font-arima-madurai-200 {
          font-family: 'Arima Madurai' !important;
          font-weight: 200 !important;
}
.u-font-arima-madurai-300 {
          font-family: 'Arima Madurai' !important;
          font-weight: 300 !important;
}
.u-font-arima-madurai-400 {
          font-family: 'Arima Madurai' !important;
          font-weight: 400 !important;
}
.u-font-arima-madurai-500 {
          font-family: 'Arima Madurai' !important;
          font-weight: 500 !important;
}
.u-font-arima-madurai-700 {
          font-family: 'Arima Madurai' !important;
          font-weight: 700 !important;
}
.u-font-arima-madurai-800 {
          font-family: 'Arima Madurai' !important;
          font-weight: 800 !important;
}
.u-font-arima-madurai-900 {
          font-family: 'Arima Madurai' !important;
          font-weight: 900 !important;
}
