.u-font-proza-libre-400 {
          font-family: 'Proza Libre' !important;
          font-weight: 400 !important;
}
.u-font-proza-libre-400-italic {
        font-family: 'Proza Libre' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-proza-libre-500 {
          font-family: 'Proza Libre' !important;
          font-weight: 500 !important;
}
.u-font-proza-libre-500-italic {
        font-family: 'Proza Libre' !important;
        font-weight: 500 !important;
        font-style: italic !important;
}
.u-font-proza-libre-600 {
          font-family: 'Proza Libre' !important;
          font-weight: 600 !important;
}
.u-font-proza-libre-600-italic {
        font-family: 'Proza Libre' !important;
        font-weight: 600 !important;
        font-style: italic !important;
}
.u-font-proza-libre-700 {
          font-family: 'Proza Libre' !important;
          font-weight: 700 !important;
}
.u-font-proza-libre-700-italic {
        font-family: 'Proza Libre' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}
.u-font-proza-libre-800 {
          font-family: 'Proza Libre' !important;
          font-weight: 800 !important;
}
.u-font-proza-libre-800-italic {
        font-family: 'Proza Libre' !important;
        font-weight: 800 !important;
        font-style: italic !important;
}
