.u-font-caveat-400 {
          font-family: 'Caveat' !important;
          font-weight: 400 !important;
}
.u-font-caveat-500 {
          font-family: 'Caveat' !important;
          font-weight: 500 !important;
}
.u-font-caveat-600 {
          font-family: 'Caveat' !important;
          font-weight: 600 !important;
}
.u-font-caveat-700 {
          font-family: 'Caveat' !important;
          font-weight: 700 !important;
}
