.u-font-economica-400 {
          font-family: 'Economica' !important;
          font-weight: 400 !important;
}
.u-font-economica-400-italic {
        font-family: 'Economica' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-economica-700 {
          font-family: 'Economica' !important;
          font-weight: 700 !important;
}
.u-font-economica-700-italic {
        font-family: 'Economica' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}