.u-font-elsie-swash-caps-400 {
          font-family: 'Elsie Swash Caps' !important;
          font-weight: 400 !important;
}
.u-font-elsie-swash-caps-900 {
          font-family: 'Elsie Swash Caps' !important;
          font-weight: 900 !important;
}