.u-font-scada-400 {
          font-family: 'Scada' !important;
          font-weight: 400 !important;
}
.u-font-scada-400-italic {
        font-family: 'Scada' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-scada-700 {
          font-family: 'Scada' !important;
          font-weight: 700 !important;
}
.u-font-scada-700-italic {
        font-family: 'Scada' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}