.u-font-ibm-plex-sans-condensed-100 {
          font-family: 'IBM Plex Sans Condensed' !important;
          font-weight: 100 !important;
}
.u-font-ibm-plex-sans-condensed-100-italic {
        font-family: 'IBM Plex Sans Condensed' !important;
        font-weight: 100 !important;
        font-style: italic !important;
}
.u-font-ibm-plex-sans-condensed-200 {
          font-family: 'IBM Plex Sans Condensed' !important;
          font-weight: 200 !important;
}
.u-font-ibm-plex-sans-condensed-200-italic {
        font-family: 'IBM Plex Sans Condensed' !important;
        font-weight: 200 !important;
        font-style: italic !important;
}
.u-font-ibm-plex-sans-condensed-300 {
          font-family: 'IBM Plex Sans Condensed' !important;
          font-weight: 300 !important;
}
.u-font-ibm-plex-sans-condensed-300-italic {
        font-family: 'IBM Plex Sans Condensed' !important;
        font-weight: 300 !important;
        font-style: italic !important;
}
.u-font-ibm-plex-sans-condensed-400 {
          font-family: 'IBM Plex Sans Condensed' !important;
          font-weight: 400 !important;
}
.u-font-ibm-plex-sans-condensed-400-italic {
        font-family: 'IBM Plex Sans Condensed' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-ibm-plex-sans-condensed-500 {
          font-family: 'IBM Plex Sans Condensed' !important;
          font-weight: 500 !important;
}
.u-font-ibm-plex-sans-condensed-500-italic {
        font-family: 'IBM Plex Sans Condensed' !important;
        font-weight: 500 !important;
        font-style: italic !important;
}
.u-font-ibm-plex-sans-condensed-600 {
          font-family: 'IBM Plex Sans Condensed' !important;
          font-weight: 600 !important;
}
.u-font-ibm-plex-sans-condensed-600-italic {
        font-family: 'IBM Plex Sans Condensed' !important;
        font-weight: 600 !important;
        font-style: italic !important;
}
.u-font-ibm-plex-sans-condensed-700 {
          font-family: 'IBM Plex Sans Condensed' !important;
          font-weight: 700 !important;
}
.u-font-ibm-plex-sans-condensed-700-italic {
        font-family: 'IBM Plex Sans Condensed' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}