.u-font-baloo-paaji-2-400 {
          font-family: 'Baloo Paaji 2' !important;
          font-weight: 400 !important;
}
.u-font-baloo-paaji-2-500 {
          font-family: 'Baloo Paaji 2' !important;
          font-weight: 500 !important;
}
.u-font-baloo-paaji-2-600 {
          font-family: 'Baloo Paaji 2' !important;
          font-weight: 600 !important;
}
.u-font-baloo-paaji-2-700 {
          font-family: 'Baloo Paaji 2' !important;
          font-weight: 700 !important;
}
.u-font-baloo-paaji-2-800 {
          font-family: 'Baloo Paaji 2' !important;
          font-weight: 800 !important;
}