.u-font-neuton-200 {
          font-family: 'Neuton' !important;
          font-weight: 200 !important;
}
.u-font-neuton-300 {
          font-family: 'Neuton' !important;
          font-weight: 300 !important;
}
.u-font-neuton-400 {
          font-family: 'Neuton' !important;
          font-weight: 400 !important;
}
.u-font-neuton-400-italic {
        font-family: 'Neuton' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-neuton-700 {
          font-family: 'Neuton' !important;
          font-weight: 700 !important;
}
.u-font-neuton-800 {
          font-family: 'Neuton' !important;
          font-weight: 800 !important;
}