.u-font-kantumruy-300 {
          font-family: 'Kantumruy' !important;
          font-weight: 300 !important;
}
.u-font-kantumruy-400 {
          font-family: 'Kantumruy' !important;
          font-weight: 400 !important;
}
.u-font-kantumruy-700 {
          font-family: 'Kantumruy' !important;
          font-weight: 700 !important;
}