.u-font-nokora-400 {
          font-family: 'Nokora' !important;
          font-weight: 400 !important;
}
.u-font-nokora-700 {
          font-family: 'Nokora' !important;
          font-weight: 700 !important;
}
