.u-font-signika-300 {
          font-family: 'Signika' !important;
          font-weight: 300 !important;
}
.u-font-signika-400 {
          font-family: 'Signika' !important;
          font-weight: 400 !important;
}
.u-font-signika-500 {
          font-family: 'Signika' !important;
          font-weight: 500 !important;
}
.u-font-signika-600 {
          font-family: 'Signika' !important;
          font-weight: 600 !important;
}
.u-font-signika-700 {
          font-family: 'Signika' !important;
          font-weight: 700 !important;
}