.u-font-mada-200 {
          font-family: 'Mada' !important;
          font-weight: 200 !important;
}
.u-font-mada-300 {
          font-family: 'Mada' !important;
          font-weight: 300 !important;
}
.u-font-mada-400 {
          font-family: 'Mada' !important;
          font-weight: 400 !important;
}
.u-font-mada-500 {
          font-family: 'Mada' !important;
          font-weight: 500 !important;
}
.u-font-mada-600 {
          font-family: 'Mada' !important;
          font-weight: 600 !important;
}
.u-font-mada-700 {
          font-family: 'Mada' !important;
          font-weight: 700 !important;
}
.u-font-mada-900 {
          font-family: 'Mada' !important;
          font-weight: 900 !important;
}