.u-font-domine-400 {
          font-family: 'Domine' !important;
          font-weight: 400 !important;
}
.u-font-domine-500 {
          font-family: 'Domine' !important;
          font-weight: 500 !important;
}
.u-font-domine-600 {
          font-family: 'Domine' !important;
          font-weight: 600 !important;
}
.u-font-domine-700 {
          font-family: 'Domine' !important;
          font-weight: 700 !important;
}
