.u-font-blinker-100 {
          font-family: 'Blinker' !important;
          font-weight: 100 !important;
}
.u-font-blinker-200 {
          font-family: 'Blinker' !important;
          font-weight: 200 !important;
}
.u-font-blinker-300 {
          font-family: 'Blinker' !important;
          font-weight: 300 !important;
}
.u-font-blinker-400 {
          font-family: 'Blinker' !important;
          font-weight: 400 !important;
}
.u-font-blinker-600 {
          font-family: 'Blinker' !important;
          font-weight: 600 !important;
}
.u-font-blinker-700 {
          font-family: 'Blinker' !important;
          font-weight: 700 !important;
}
.u-font-blinker-800 {
          font-family: 'Blinker' !important;
          font-weight: 800 !important;
}
.u-font-blinker-900 {
          font-family: 'Blinker' !important;
          font-weight: 900 !important;
}
