.u-font-quicksand-300 {
          font-family: 'Quicksand' !important;
          font-weight: 300 !important;
}
.u-font-quicksand-400 {
          font-family: 'Quicksand' !important;
          font-weight: 400 !important;
}
.u-font-quicksand-500 {
          font-family: 'Quicksand' !important;
          font-weight: 500 !important;
}
.u-font-quicksand-600 {
          font-family: 'Quicksand' !important;
          font-weight: 600 !important;
}
.u-font-quicksand-700 {
          font-family: 'Quicksand' !important;
          font-weight: 700 !important;
}
