.u-font-manjari-100 {
          font-family: 'Manjari' !important;
          font-weight: 100 !important;
}
.u-font-manjari-400 {
          font-family: 'Manjari' !important;
          font-weight: 400 !important;
}
.u-font-manjari-700 {
          font-family: 'Manjari' !important;
          font-weight: 700 !important;
}
