.u-font-passion-one-400 {
          font-family: 'Passion One' !important;
          font-weight: 400 !important;
}
.u-font-passion-one-700 {
          font-family: 'Passion One' !important;
          font-weight: 700 !important;
}
.u-font-passion-one-900 {
          font-family: 'Passion One' !important;
          font-weight: 900 !important;
}
