.u-font-rowdies-300 {
          font-family: 'Rowdies' !important;
          font-weight: 300 !important;
}
.u-font-rowdies-400 {
          font-family: 'Rowdies' !important;
          font-weight: 400 !important;
}
.u-font-rowdies-700 {
          font-family: 'Rowdies' !important;
          font-weight: 700 !important;
}
