.u-font-battambang-400 {
          font-family: 'Battambang' !important;
          font-weight: 400 !important;
}
.u-font-battambang-700 {
          font-family: 'Battambang' !important;
          font-weight: 700 !important;
}