.u-font-chau-philomene-one-400 {
          font-family: 'Chau Philomene One' !important;
          font-weight: 400 !important;
}
.u-font-chau-philomene-one-400-italic {
        font-family: 'Chau Philomene One' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
