.u-font-noto-serif-jp-200 {
          font-family: 'Noto Serif JP' !important;
          font-weight: 200 !important;
}
.u-font-noto-serif-jp-300 {
          font-family: 'Noto Serif JP' !important;
          font-weight: 300 !important;
}
.u-font-noto-serif-jp-400 {
          font-family: 'Noto Serif JP' !important;
          font-weight: 400 !important;
}
.u-font-noto-serif-jp-500 {
          font-family: 'Noto Serif JP' !important;
          font-weight: 500 !important;
}
.u-font-noto-serif-jp-600 {
          font-family: 'Noto Serif JP' !important;
          font-weight: 600 !important;
}
.u-font-noto-serif-jp-700 {
          font-family: 'Noto Serif JP' !important;
          font-weight: 700 !important;
}
.u-font-noto-serif-jp-900 {
          font-family: 'Noto Serif JP' !important;
          font-weight: 900 !important;
}