.u-font-montserrat-alternates-100 {
          font-family: 'Montserrat Alternates' !important;
          font-weight: 100 !important;
}
.u-font-montserrat-alternates-100-italic {
        font-family: 'Montserrat Alternates' !important;
        font-weight: 100 !important;
        font-style: italic !important;
}
.u-font-montserrat-alternates-200 {
          font-family: 'Montserrat Alternates' !important;
          font-weight: 200 !important;
}
.u-font-montserrat-alternates-200-italic {
        font-family: 'Montserrat Alternates' !important;
        font-weight: 200 !important;
        font-style: italic !important;
}
.u-font-montserrat-alternates-300 {
          font-family: 'Montserrat Alternates' !important;
          font-weight: 300 !important;
}
.u-font-montserrat-alternates-300-italic {
        font-family: 'Montserrat Alternates' !important;
        font-weight: 300 !important;
        font-style: italic !important;
}
.u-font-montserrat-alternates-400 {
          font-family: 'Montserrat Alternates' !important;
          font-weight: 400 !important;
}
.u-font-montserrat-alternates-400-italic {
        font-family: 'Montserrat Alternates' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-montserrat-alternates-500 {
          font-family: 'Montserrat Alternates' !important;
          font-weight: 500 !important;
}
.u-font-montserrat-alternates-500-italic {
        font-family: 'Montserrat Alternates' !important;
        font-weight: 500 !important;
        font-style: italic !important;
}
.u-font-montserrat-alternates-600 {
          font-family: 'Montserrat Alternates' !important;
          font-weight: 600 !important;
}
.u-font-montserrat-alternates-600-italic {
        font-family: 'Montserrat Alternates' !important;
        font-weight: 600 !important;
        font-style: italic !important;
}
.u-font-montserrat-alternates-700 {
          font-family: 'Montserrat Alternates' !important;
          font-weight: 700 !important;
}
.u-font-montserrat-alternates-700-italic {
        font-family: 'Montserrat Alternates' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}
.u-font-montserrat-alternates-800 {
          font-family: 'Montserrat Alternates' !important;
          font-weight: 800 !important;
}
.u-font-montserrat-alternates-800-italic {
        font-family: 'Montserrat Alternates' !important;
        font-weight: 800 !important;
        font-style: italic !important;
}
.u-font-montserrat-alternates-900 {
          font-family: 'Montserrat Alternates' !important;
          font-weight: 900 !important;
}
.u-font-montserrat-alternates-900-italic {
        font-family: 'Montserrat Alternates' !important;
        font-weight: 900 !important;
        font-style: italic !important;
}