.u-font-dm-sans-400 {
          font-family: 'DM Sans' !important;
          font-weight: 400 !important;
}
.u-font-dm-sans-400-italic {
        font-family: 'DM Sans' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-dm-sans-500 {
          font-family: 'DM Sans' !important;
          font-weight: 500 !important;
}
.u-font-dm-sans-500-italic {
        font-family: 'DM Sans' !important;
        font-weight: 500 !important;
        font-style: italic !important;
}
.u-font-dm-sans-700 {
          font-family: 'DM Sans' !important;
          font-weight: 700 !important;
}
.u-font-dm-sans-700-italic {
        font-family: 'DM Sans' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}