.u-font-b612-mono-400 {
          font-family: 'B612 Mono' !important;
          font-weight: 400 !important;
}
.u-font-b612-mono-400-italic {
        font-family: 'B612 Mono' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-b612-mono-700 {
          font-family: 'B612 Mono' !important;
          font-weight: 700 !important;
}
.u-font-b612-mono-700-italic {
        font-family: 'B612 Mono' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}