.u-font-nanum-gothic-coding-400 {
          font-family: 'Nanum Gothic Coding' !important;
          font-weight: 400 !important;
}
.u-font-nanum-gothic-coding-700 {
          font-family: 'Nanum Gothic Coding' !important;
          font-weight: 700 !important;
}