.u-font-harmattan-400 {
          font-family: 'Harmattan' !important;
          font-weight: 400 !important;
}
.u-font-harmattan-700 {
          font-family: 'Harmattan' !important;
          font-weight: 700 !important;
}
