.u-font-halant-300 {
          font-family: 'Halant' !important;
          font-weight: 300 !important;
}
.u-font-halant-400 {
          font-family: 'Halant' !important;
          font-weight: 400 !important;
}
.u-font-halant-500 {
          font-family: 'Halant' !important;
          font-weight: 500 !important;
}
.u-font-halant-600 {
          font-family: 'Halant' !important;
          font-weight: 600 !important;
}
.u-font-halant-700 {
          font-family: 'Halant' !important;
          font-weight: 700 !important;
}
