.u-font-fanwood-text-400 {
          font-family: 'Fanwood Text' !important;
          font-weight: 400 !important;
}
.u-font-fanwood-text-400-italic {
        font-family: 'Fanwood Text' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}