.u-font-monda-400 {
          font-family: 'Monda' !important;
          font-weight: 400 !important;
}
.u-font-monda-700 {
          font-family: 'Monda' !important;
          font-weight: 700 !important;
}