.u-font-sorts-mill-goudy-400 {
          font-family: 'Sorts Mill Goudy' !important;
          font-weight: 400 !important;
}
.u-font-sorts-mill-goudy-400-italic {
        font-family: 'Sorts Mill Goudy' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}