.u-font-kameron-400 {
          font-family: 'Kameron' !important;
          font-weight: 400 !important;
}
.u-font-kameron-700 {
          font-family: 'Kameron' !important;
          font-weight: 700 !important;
}