.u-font-hanuman-400 {
          font-family: 'Hanuman' !important;
          font-weight: 400 !important;
}
.u-font-hanuman-700 {
          font-family: 'Hanuman' !important;
          font-weight: 700 !important;
}
