.u-font-recursive-300 {
          font-family: 'Recursive' !important;
          font-weight: 300 !important;
}
.u-font-recursive-400 {
          font-family: 'Recursive' !important;
          font-weight: 400 !important;
}
.u-font-recursive-500 {
          font-family: 'Recursive' !important;
          font-weight: 500 !important;
}
.u-font-recursive-600 {
          font-family: 'Recursive' !important;
          font-weight: 600 !important;
}
.u-font-recursive-700 {
          font-family: 'Recursive' !important;
          font-weight: 700 !important;
}
.u-font-recursive-800 {
          font-family: 'Recursive' !important;
          font-weight: 800 !important;
}
.u-font-recursive-900 {
          font-family: 'Recursive' !important;
          font-weight: 900 !important;
}