.u-font-coustard-400 {
          font-family: 'Coustard' !important;
          font-weight: 400 !important;
}
.u-font-coustard-900 {
          font-family: 'Coustard' !important;
          font-weight: 900 !important;
}
