.u-font-ranga-400 {
          font-family: 'Ranga' !important;
          font-weight: 400 !important;
}
.u-font-ranga-700 {
          font-family: 'Ranga' !important;
          font-weight: 700 !important;
}