.u-font-syne-400 {
          font-family: 'Syne' !important;
          font-weight: 400 !important;
}
.u-font-syne-500 {
          font-family: 'Syne' !important;
          font-weight: 500 !important;
}
.u-font-syne-600 {
          font-family: 'Syne' !important;
          font-weight: 600 !important;
}
.u-font-syne-700 {
          font-family: 'Syne' !important;
          font-weight: 700 !important;
}
.u-font-syne-800 {
          font-family: 'Syne' !important;
          font-weight: 800 !important;
}
