.u-font-palanquin-100 {
          font-family: 'Palanquin' !important;
          font-weight: 100 !important;
}
.u-font-palanquin-200 {
          font-family: 'Palanquin' !important;
          font-weight: 200 !important;
}
.u-font-palanquin-300 {
          font-family: 'Palanquin' !important;
          font-weight: 300 !important;
}
.u-font-palanquin-400 {
          font-family: 'Palanquin' !important;
          font-weight: 400 !important;
}
.u-font-palanquin-500 {
          font-family: 'Palanquin' !important;
          font-weight: 500 !important;
}
.u-font-palanquin-600 {
          font-family: 'Palanquin' !important;
          font-weight: 600 !important;
}
.u-font-palanquin-700 {
          font-family: 'Palanquin' !important;
          font-weight: 700 !important;
}
