.u-font-sulphur-point-300 {
          font-family: 'Sulphur Point' !important;
          font-weight: 300 !important;
}
.u-font-sulphur-point-400 {
          font-family: 'Sulphur Point' !important;
          font-weight: 400 !important;
}
.u-font-sulphur-point-700 {
          font-family: 'Sulphur Point' !important;
          font-weight: 700 !important;
}