.u-font-zilla-slab-highlight-400 {
          font-family: 'Zilla Slab Highlight' !important;
          font-weight: 400 !important;
}
.u-font-zilla-slab-highlight-700 {
          font-family: 'Zilla Slab Highlight' !important;
          font-weight: 700 !important;
}
