.u-font-sahitya-400 {
          font-family: 'Sahitya' !important;
          font-weight: 400 !important;
}
.u-font-sahitya-700 {
          font-family: 'Sahitya' !important;
          font-weight: 700 !important;
}