.u-font-dm-serif-display-400 {
          font-family: 'DM Serif Display' !important;
          font-weight: 400 !important;
}
.u-font-dm-serif-display-400-italic {
        font-family: 'DM Serif Display' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
