.u-font-alegreya-sans-100 {
          font-family: 'Alegreya Sans' !important;
          font-weight: 100 !important;
}
.u-font-alegreya-sans-100-italic {
        font-family: 'Alegreya Sans' !important;
        font-weight: 100 !important;
        font-style: italic !important;
}
.u-font-alegreya-sans-300 {
          font-family: 'Alegreya Sans' !important;
          font-weight: 300 !important;
}
.u-font-alegreya-sans-300-italic {
        font-family: 'Alegreya Sans' !important;
        font-weight: 300 !important;
        font-style: italic !important;
}
.u-font-alegreya-sans-400 {
          font-family: 'Alegreya Sans' !important;
          font-weight: 400 !important;
}
.u-font-alegreya-sans-400-italic {
        font-family: 'Alegreya Sans' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-alegreya-sans-500 {
          font-family: 'Alegreya Sans' !important;
          font-weight: 500 !important;
}
.u-font-alegreya-sans-500-italic {
        font-family: 'Alegreya Sans' !important;
        font-weight: 500 !important;
        font-style: italic !important;
}
.u-font-alegreya-sans-700 {
          font-family: 'Alegreya Sans' !important;
          font-weight: 700 !important;
}
.u-font-alegreya-sans-700-italic {
        font-family: 'Alegreya Sans' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}
.u-font-alegreya-sans-800 {
          font-family: 'Alegreya Sans' !important;
          font-weight: 800 !important;
}
.u-font-alegreya-sans-800-italic {
        font-family: 'Alegreya Sans' !important;
        font-weight: 800 !important;
        font-style: italic !important;
}
.u-font-alegreya-sans-900 {
          font-family: 'Alegreya Sans' !important;
          font-weight: 900 !important;
}
.u-font-alegreya-sans-900-italic {
        font-family: 'Alegreya Sans' !important;
        font-weight: 900 !important;
        font-style: italic !important;
}
