.u-font-noto-serif-400 {
          font-family: 'Noto Serif' !important;
          font-weight: 400 !important;
}
.u-font-noto-serif-400-italic {
        font-family: 'Noto Serif' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-noto-serif-700 {
          font-family: 'Noto Serif' !important;
          font-weight: 700 !important;
}
.u-font-noto-serif-700-italic {
        font-family: 'Noto Serif' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}
