.u-font-assistant-200 {
          font-family: 'Assistant' !important;
          font-weight: 200 !important;
}
.u-font-assistant-300 {
          font-family: 'Assistant' !important;
          font-weight: 300 !important;
}
.u-font-assistant-400 {
          font-family: 'Assistant' !important;
          font-weight: 400 !important;
}
.u-font-assistant-500 {
          font-family: 'Assistant' !important;
          font-weight: 500 !important;
}
.u-font-assistant-600 {
          font-family: 'Assistant' !important;
          font-weight: 600 !important;
}
.u-font-assistant-700 {
          font-family: 'Assistant' !important;
          font-weight: 700 !important;
}
.u-font-assistant-800 {
          font-family: 'Assistant' !important;
          font-weight: 800 !important;
}