.u-font-sansita-swashed-300 {
          font-family: 'Sansita Swashed' !important;
          font-weight: 300 !important;
}
.u-font-sansita-swashed-400 {
          font-family: 'Sansita Swashed' !important;
          font-weight: 400 !important;
}
.u-font-sansita-swashed-500 {
          font-family: 'Sansita Swashed' !important;
          font-weight: 500 !important;
}
.u-font-sansita-swashed-600 {
          font-family: 'Sansita Swashed' !important;
          font-weight: 600 !important;
}
.u-font-sansita-swashed-700 {
          font-family: 'Sansita Swashed' !important;
          font-weight: 700 !important;
}
.u-font-sansita-swashed-800 {
          font-family: 'Sansita Swashed' !important;
          font-weight: 800 !important;
}
.u-font-sansita-swashed-900 {
          font-family: 'Sansita Swashed' !important;
          font-weight: 900 !important;
}
