.u-font-koho-200 {
          font-family: 'KoHo' !important;
          font-weight: 200 !important;
}
.u-font-koho-200-italic {
        font-family: 'KoHo' !important;
        font-weight: 200 !important;
        font-style: italic !important;
}
.u-font-koho-300 {
          font-family: 'KoHo' !important;
          font-weight: 300 !important;
}
.u-font-koho-300-italic {
        font-family: 'KoHo' !important;
        font-weight: 300 !important;
        font-style: italic !important;
}
.u-font-koho-400 {
          font-family: 'KoHo' !important;
          font-weight: 400 !important;
}
.u-font-koho-400-italic {
        font-family: 'KoHo' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-koho-500 {
          font-family: 'KoHo' !important;
          font-weight: 500 !important;
}
.u-font-koho-500-italic {
        font-family: 'KoHo' !important;
        font-weight: 500 !important;
        font-style: italic !important;
}
.u-font-koho-600 {
          font-family: 'KoHo' !important;
          font-weight: 600 !important;
}
.u-font-koho-600-italic {
        font-family: 'KoHo' !important;
        font-weight: 600 !important;
        font-style: italic !important;
}
.u-font-koho-700 {
          font-family: 'KoHo' !important;
          font-weight: 700 !important;
}
.u-font-koho-700-italic {
        font-family: 'KoHo' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}