.u-font-farro-300 {
          font-family: 'Farro' !important;
          font-weight: 300 !important;
}
.u-font-farro-400 {
          font-family: 'Farro' !important;
          font-weight: 400 !important;
}
.u-font-farro-500 {
          font-family: 'Farro' !important;
          font-weight: 500 !important;
}
.u-font-farro-700 {
          font-family: 'Farro' !important;
          font-weight: 700 !important;
}