.u-font-mali-200 {
          font-family: 'Mali' !important;
          font-weight: 200 !important;
}
.u-font-mali-200-italic {
        font-family: 'Mali' !important;
        font-weight: 200 !important;
        font-style: italic !important;
}
.u-font-mali-300 {
          font-family: 'Mali' !important;
          font-weight: 300 !important;
}
.u-font-mali-300-italic {
        font-family: 'Mali' !important;
        font-weight: 300 !important;
        font-style: italic !important;
}
.u-font-mali-400 {
          font-family: 'Mali' !important;
          font-weight: 400 !important;
}
.u-font-mali-400-italic {
        font-family: 'Mali' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-mali-500 {
          font-family: 'Mali' !important;
          font-weight: 500 !important;
}
.u-font-mali-500-italic {
        font-family: 'Mali' !important;
        font-weight: 500 !important;
        font-style: italic !important;
}
.u-font-mali-600 {
          font-family: 'Mali' !important;
          font-weight: 600 !important;
}
.u-font-mali-600-italic {
        font-family: 'Mali' !important;
        font-weight: 600 !important;
        font-style: italic !important;
}
.u-font-mali-700 {
          font-family: 'Mali' !important;
          font-weight: 700 !important;
}
.u-font-mali-700-italic {
        font-family: 'Mali' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}
