.u-font-scheherazade-400 {
          font-family: 'Scheherazade' !important;
          font-weight: 400 !important;
}
.u-font-scheherazade-700 {
          font-family: 'Scheherazade' !important;
          font-weight: 700 !important;
}
