.u-font-yantramanav-100 {
          font-family: 'Yantramanav' !important;
          font-weight: 100 !important;
}
.u-font-yantramanav-300 {
          font-family: 'Yantramanav' !important;
          font-weight: 300 !important;
}
.u-font-yantramanav-400 {
          font-family: 'Yantramanav' !important;
          font-weight: 400 !important;
}
.u-font-yantramanav-500 {
          font-family: 'Yantramanav' !important;
          font-weight: 500 !important;
}
.u-font-yantramanav-700 {
          font-family: 'Yantramanav' !important;
          font-weight: 700 !important;
}
.u-font-yantramanav-900 {
          font-family: 'Yantramanav' !important;
          font-weight: 900 !important;
}
