.u-font-inika-400 {
          font-family: 'Inika' !important;
          font-weight: 400 !important;
}
.u-font-inika-700 {
          font-family: 'Inika' !important;
          font-weight: 700 !important;
}