.u-font-space-mono-400 {
          font-family: 'Space Mono' !important;
          font-weight: 400 !important;
}
.u-font-space-mono-400-italic {
        font-family: 'Space Mono' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-space-mono-700 {
          font-family: 'Space Mono' !important;
          font-weight: 700 !important;
}
.u-font-space-mono-700-italic {
        font-family: 'Space Mono' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}
