.u-font-alegreya-400 {
          font-family: 'Alegreya' !important;
          font-weight: 400 !important;
}
.u-font-alegreya-400-italic {
        font-family: 'Alegreya' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-alegreya-500 {
          font-family: 'Alegreya' !important;
          font-weight: 500 !important;
}
.u-font-alegreya-500-italic {
        font-family: 'Alegreya' !important;
        font-weight: 500 !important;
        font-style: italic !important;
}
.u-font-alegreya-700 {
          font-family: 'Alegreya' !important;
          font-weight: 700 !important;
}
.u-font-alegreya-700-italic {
        font-family: 'Alegreya' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}
.u-font-alegreya-800 {
          font-family: 'Alegreya' !important;
          font-weight: 800 !important;
}
.u-font-alegreya-800-italic {
        font-family: 'Alegreya' !important;
        font-weight: 800 !important;
        font-style: italic !important;
}
.u-font-alegreya-900 {
          font-family: 'Alegreya' !important;
          font-weight: 900 !important;
}
.u-font-alegreya-900-italic {
        font-family: 'Alegreya' !important;
        font-weight: 900 !important;
        font-style: italic !important;
}