.u-font-saira-condensed-100 {
          font-family: 'Saira Condensed' !important;
          font-weight: 100 !important;
}
.u-font-saira-condensed-200 {
          font-family: 'Saira Condensed' !important;
          font-weight: 200 !important;
}
.u-font-saira-condensed-300 {
          font-family: 'Saira Condensed' !important;
          font-weight: 300 !important;
}
.u-font-saira-condensed-400 {
          font-family: 'Saira Condensed' !important;
          font-weight: 400 !important;
}
.u-font-saira-condensed-500 {
          font-family: 'Saira Condensed' !important;
          font-weight: 500 !important;
}
.u-font-saira-condensed-600 {
          font-family: 'Saira Condensed' !important;
          font-weight: 600 !important;
}
.u-font-saira-condensed-700 {
          font-family: 'Saira Condensed' !important;
          font-weight: 700 !important;
}
.u-font-saira-condensed-800 {
          font-family: 'Saira Condensed' !important;
          font-weight: 800 !important;
}
.u-font-saira-condensed-900 {
          font-family: 'Saira Condensed' !important;
          font-weight: 900 !important;
}
