.u-font-lemonada-300 {
          font-family: 'Lemonada' !important;
          font-weight: 300 !important;
}
.u-font-lemonada-400 {
          font-family: 'Lemonada' !important;
          font-weight: 400 !important;
}
.u-font-lemonada-500 {
          font-family: 'Lemonada' !important;
          font-weight: 500 !important;
}
.u-font-lemonada-600 {
          font-family: 'Lemonada' !important;
          font-weight: 600 !important;
}
.u-font-lemonada-700 {
          font-family: 'Lemonada' !important;
          font-weight: 700 !important;
}