.u-font-geo-400 {
          font-family: 'Geo' !important;
          font-weight: 400 !important;
}
.u-font-geo-400-italic {
        font-family: 'Geo' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}