.u-font-cormorant-infant-300 {
          font-family: 'Cormorant Infant' !important;
          font-weight: 300 !important;
}
.u-font-cormorant-infant-300-italic {
        font-family: 'Cormorant Infant' !important;
        font-weight: 300 !important;
        font-style: italic !important;
}
.u-font-cormorant-infant-400 {
          font-family: 'Cormorant Infant' !important;
          font-weight: 400 !important;
}
.u-font-cormorant-infant-400-italic {
        font-family: 'Cormorant Infant' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-cormorant-infant-500 {
          font-family: 'Cormorant Infant' !important;
          font-weight: 500 !important;
}
.u-font-cormorant-infant-500-italic {
        font-family: 'Cormorant Infant' !important;
        font-weight: 500 !important;
        font-style: italic !important;
}
.u-font-cormorant-infant-600 {
          font-family: 'Cormorant Infant' !important;
          font-weight: 600 !important;
}
.u-font-cormorant-infant-600-italic {
        font-family: 'Cormorant Infant' !important;
        font-weight: 600 !important;
        font-style: italic !important;
}
.u-font-cormorant-infant-700 {
          font-family: 'Cormorant Infant' !important;
          font-weight: 700 !important;
}
.u-font-cormorant-infant-700-italic {
        font-family: 'Cormorant Infant' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}
