.u-font-nanum-myeongjo-400 {
          font-family: 'Nanum Myeongjo' !important;
          font-weight: 400 !important;
}
.u-font-nanum-myeongjo-700 {
          font-family: 'Nanum Myeongjo' !important;
          font-weight: 700 !important;
}
.u-font-nanum-myeongjo-800 {
          font-family: 'Nanum Myeongjo' !important;
          font-weight: 800 !important;
}