.u-font-maitree-200 {
          font-family: 'Maitree' !important;
          font-weight: 200 !important;
}
.u-font-maitree-300 {
          font-family: 'Maitree' !important;
          font-weight: 300 !important;
}
.u-font-maitree-400 {
          font-family: 'Maitree' !important;
          font-weight: 400 !important;
}
.u-font-maitree-500 {
          font-family: 'Maitree' !important;
          font-weight: 500 !important;
}
.u-font-maitree-600 {
          font-family: 'Maitree' !important;
          font-weight: 600 !important;
}
.u-font-maitree-700 {
          font-family: 'Maitree' !important;
          font-weight: 700 !important;
}