.u-font-gorditas-400 {
          font-family: 'Gorditas' !important;
          font-weight: 400 !important;
}
.u-font-gorditas-700 {
          font-family: 'Gorditas' !important;
          font-weight: 700 !important;
}