.u-font-grenze-gotisch-100 {
          font-family: 'Grenze Gotisch' !important;
          font-weight: 100 !important;
}
.u-font-grenze-gotisch-200 {
          font-family: 'Grenze Gotisch' !important;
          font-weight: 200 !important;
}
.u-font-grenze-gotisch-300 {
          font-family: 'Grenze Gotisch' !important;
          font-weight: 300 !important;
}
.u-font-grenze-gotisch-400 {
          font-family: 'Grenze Gotisch' !important;
          font-weight: 400 !important;
}
.u-font-grenze-gotisch-500 {
          font-family: 'Grenze Gotisch' !important;
          font-weight: 500 !important;
}
.u-font-grenze-gotisch-600 {
          font-family: 'Grenze Gotisch' !important;
          font-weight: 600 !important;
}
.u-font-grenze-gotisch-700 {
          font-family: 'Grenze Gotisch' !important;
          font-weight: 700 !important;
}
.u-font-grenze-gotisch-800 {
          font-family: 'Grenze Gotisch' !important;
          font-weight: 800 !important;
}
.u-font-grenze-gotisch-900 {
          font-family: 'Grenze Gotisch' !important;
          font-weight: 900 !important;
}
