.u-font-almarai-300 {
          font-family: 'Almarai' !important;
          font-weight: 300 !important;
}
.u-font-almarai-400 {
          font-family: 'Almarai' !important;
          font-weight: 400 !important;
}
.u-font-almarai-700 {
          font-family: 'Almarai' !important;
          font-weight: 700 !important;
}
.u-font-almarai-800 {
          font-family: 'Almarai' !important;
          font-weight: 800 !important;
}