.u-font-oregano-400 {
          font-family: 'Oregano' !important;
          font-weight: 400 !important;
}
.u-font-oregano-400-italic {
        font-family: 'Oregano' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
