.u-font-darker-grotesque-300 {
          font-family: 'Darker Grotesque' !important;
          font-weight: 300 !important;
}
.u-font-darker-grotesque-400 {
          font-family: 'Darker Grotesque' !important;
          font-weight: 400 !important;
}
.u-font-darker-grotesque-500 {
          font-family: 'Darker Grotesque' !important;
          font-weight: 500 !important;
}
.u-font-darker-grotesque-600 {
          font-family: 'Darker Grotesque' !important;
          font-weight: 600 !important;
}
.u-font-darker-grotesque-700 {
          font-family: 'Darker Grotesque' !important;
          font-weight: 700 !important;
}
.u-font-darker-grotesque-800 {
          font-family: 'Darker Grotesque' !important;
          font-weight: 800 !important;
}
.u-font-darker-grotesque-900 {
          font-family: 'Darker Grotesque' !important;
          font-weight: 900 !important;
}