.u-font-biorhyme-expanded-200 {
          font-family: 'BioRhyme Expanded' !important;
          font-weight: 200 !important;
}
.u-font-biorhyme-expanded-300 {
          font-family: 'BioRhyme Expanded' !important;
          font-weight: 300 !important;
}
.u-font-biorhyme-expanded-400 {
          font-family: 'BioRhyme Expanded' !important;
          font-weight: 400 !important;
}
.u-font-biorhyme-expanded-700 {
          font-family: 'BioRhyme Expanded' !important;
          font-weight: 700 !important;
}
.u-font-biorhyme-expanded-800 {
          font-family: 'BioRhyme Expanded' !important;
          font-weight: 800 !important;
}
