.u-font-vollkorn-sc-400 {
          font-family: 'Vollkorn SC' !important;
          font-weight: 400 !important;
}
.u-font-vollkorn-sc-600 {
          font-family: 'Vollkorn SC' !important;
          font-weight: 600 !important;
}
.u-font-vollkorn-sc-700 {
          font-family: 'Vollkorn SC' !important;
          font-weight: 700 !important;
}
.u-font-vollkorn-sc-900 {
          font-family: 'Vollkorn SC' !important;
          font-weight: 900 !important;
}