.u-font-kufam-400 {
          font-family: 'Kufam' !important;
          font-weight: 400 !important;
}
.u-font-kufam-500 {
          font-family: 'Kufam' !important;
          font-weight: 500 !important;
}
.u-font-kufam-600 {
          font-family: 'Kufam' !important;
          font-weight: 600 !important;
}
.u-font-kufam-700 {
          font-family: 'Kufam' !important;
          font-weight: 700 !important;
}
.u-font-kufam-800 {
          font-family: 'Kufam' !important;
          font-weight: 800 !important;
}
.u-font-kufam-900 {
          font-family: 'Kufam' !important;
          font-weight: 900 !important;
}
.u-font-kufam-400-italic {
        font-family: 'Kufam' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-kufam-500-italic {
        font-family: 'Kufam' !important;
        font-weight: 500 !important;
        font-style: italic !important;
}
.u-font-kufam-600-italic {
        font-family: 'Kufam' !important;
        font-weight: 600 !important;
        font-style: italic !important;
}
.u-font-kufam-700-italic {
        font-family: 'Kufam' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}
.u-font-kufam-800-italic {
        font-family: 'Kufam' !important;
        font-weight: 800 !important;
        font-style: italic !important;
}
.u-font-kufam-900-italic {
        font-family: 'Kufam' !important;
        font-weight: 900 !important;
        font-style: italic !important;
}
