.u-font-noto-sans-sc-100 {
          font-family: 'Noto Sans SC' !important;
          font-weight: 100 !important;
}
.u-font-noto-sans-sc-300 {
          font-family: 'Noto Sans SC' !important;
          font-weight: 300 !important;
}
.u-font-noto-sans-sc-400 {
          font-family: 'Noto Sans SC' !important;
          font-weight: 400 !important;
}
.u-font-noto-sans-sc-500 {
          font-family: 'Noto Sans SC' !important;
          font-weight: 500 !important;
}
.u-font-noto-sans-sc-700 {
          font-family: 'Noto Sans SC' !important;
          font-weight: 700 !important;
}
.u-font-noto-sans-sc-900 {
          font-family: 'Noto Sans SC' !important;
          font-weight: 900 !important;
}