.u-font-fira-mono-400 {
          font-family: 'Fira Mono' !important;
          font-weight: 400 !important;
}
.u-font-fira-mono-500 {
          font-family: 'Fira Mono' !important;
          font-weight: 500 !important;
}
.u-font-fira-mono-700 {
          font-family: 'Fira Mono' !important;
          font-weight: 700 !important;
}
