.u-font-baskervville-400 {
          font-family: 'Baskervville' !important;
          font-weight: 400 !important;
}
.u-font-baskervville-400-italic {
        font-family: 'Baskervville' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
