.u-font-hind-madurai-300 {
          font-family: 'Hind Madurai' !important;
          font-weight: 300 !important;
}
.u-font-hind-madurai-400 {
          font-family: 'Hind Madurai' !important;
          font-weight: 400 !important;
}
.u-font-hind-madurai-500 {
          font-family: 'Hind Madurai' !important;
          font-weight: 500 !important;
}
.u-font-hind-madurai-600 {
          font-family: 'Hind Madurai' !important;
          font-weight: 600 !important;
}
.u-font-hind-madurai-700 {
          font-family: 'Hind Madurai' !important;
          font-weight: 700 !important;
}
