.u-font-trirong-100 {
          font-family: 'Trirong' !important;
          font-weight: 100 !important;
}
.u-font-trirong-100-italic {
        font-family: 'Trirong' !important;
        font-weight: 100 !important;
        font-style: italic !important;
}
.u-font-trirong-200 {
          font-family: 'Trirong' !important;
          font-weight: 200 !important;
}
.u-font-trirong-200-italic {
        font-family: 'Trirong' !important;
        font-weight: 200 !important;
        font-style: italic !important;
}
.u-font-trirong-300 {
          font-family: 'Trirong' !important;
          font-weight: 300 !important;
}
.u-font-trirong-300-italic {
        font-family: 'Trirong' !important;
        font-weight: 300 !important;
        font-style: italic !important;
}
.u-font-trirong-400 {
          font-family: 'Trirong' !important;
          font-weight: 400 !important;
}
.u-font-trirong-400-italic {
        font-family: 'Trirong' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-trirong-500 {
          font-family: 'Trirong' !important;
          font-weight: 500 !important;
}
.u-font-trirong-500-italic {
        font-family: 'Trirong' !important;
        font-weight: 500 !important;
        font-style: italic !important;
}
.u-font-trirong-600 {
          font-family: 'Trirong' !important;
          font-weight: 600 !important;
}
.u-font-trirong-600-italic {
        font-family: 'Trirong' !important;
        font-weight: 600 !important;
        font-style: italic !important;
}
.u-font-trirong-700 {
          font-family: 'Trirong' !important;
          font-weight: 700 !important;
}
.u-font-trirong-700-italic {
        font-family: 'Trirong' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}
.u-font-trirong-800 {
          font-family: 'Trirong' !important;
          font-weight: 800 !important;
}
.u-font-trirong-800-italic {
        font-family: 'Trirong' !important;
        font-weight: 800 !important;
        font-style: italic !important;
}
.u-font-trirong-900 {
          font-family: 'Trirong' !important;
          font-weight: 900 !important;
}
.u-font-trirong-900-italic {
        font-family: 'Trirong' !important;
        font-weight: 900 !important;
        font-style: italic !important;
}
