.u-font-xanh-mono-400 {
          font-family: 'Xanh Mono' !important;
          font-weight: 400 !important;
}
.u-font-xanh-mono-400-italic {
        font-family: 'Xanh Mono' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
