.u-font-mukta-mahee-200 {
          font-family: 'Mukta Mahee' !important;
          font-weight: 200 !important;
}
.u-font-mukta-mahee-300 {
          font-family: 'Mukta Mahee' !important;
          font-weight: 300 !important;
}
.u-font-mukta-mahee-400 {
          font-family: 'Mukta Mahee' !important;
          font-weight: 400 !important;
}
.u-font-mukta-mahee-500 {
          font-family: 'Mukta Mahee' !important;
          font-weight: 500 !important;
}
.u-font-mukta-mahee-600 {
          font-family: 'Mukta Mahee' !important;
          font-weight: 600 !important;
}
.u-font-mukta-mahee-700 {
          font-family: 'Mukta Mahee' !important;
          font-weight: 700 !important;
}
.u-font-mukta-mahee-800 {
          font-family: 'Mukta Mahee' !important;
          font-weight: 800 !important;
}
