.u-font-gayathri-100 {
          font-family: 'Gayathri' !important;
          font-weight: 100 !important;
}
.u-font-gayathri-400 {
          font-family: 'Gayathri' !important;
          font-weight: 400 !important;
}
.u-font-gayathri-700 {
          font-family: 'Gayathri' !important;
          font-weight: 700 !important;
}
