.u-font-arapey-400 {
          font-family: 'Arapey' !important;
          font-weight: 400 !important;
}
.u-font-arapey-400-italic {
        font-family: 'Arapey' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
