.u-font-sniglet-400 {
          font-family: 'Sniglet' !important;
          font-weight: 400 !important;
}
.u-font-sniglet-800 {
          font-family: 'Sniglet' !important;
          font-weight: 800 !important;
}