.u-font-thasadith-400 {
          font-family: 'Thasadith' !important;
          font-weight: 400 !important;
}
.u-font-thasadith-400-italic {
        font-family: 'Thasadith' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-thasadith-700 {
          font-family: 'Thasadith' !important;
          font-weight: 700 !important;
}
.u-font-thasadith-700-italic {
        font-family: 'Thasadith' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}
