.u-font-mukta-vaani-200 {
          font-family: 'Mukta Vaani' !important;
          font-weight: 200 !important;
}
.u-font-mukta-vaani-300 {
          font-family: 'Mukta Vaani' !important;
          font-weight: 300 !important;
}
.u-font-mukta-vaani-400 {
          font-family: 'Mukta Vaani' !important;
          font-weight: 400 !important;
}
.u-font-mukta-vaani-500 {
          font-family: 'Mukta Vaani' !important;
          font-weight: 500 !important;
}
.u-font-mukta-vaani-600 {
          font-family: 'Mukta Vaani' !important;
          font-weight: 600 !important;
}
.u-font-mukta-vaani-700 {
          font-family: 'Mukta Vaani' !important;
          font-weight: 700 !important;
}
.u-font-mukta-vaani-800 {
          font-family: 'Mukta Vaani' !important;
          font-weight: 800 !important;
}
