.u-font-rasa-300 {
          font-family: 'Rasa' !important;
          font-weight: 300 !important;
}
.u-font-rasa-400 {
          font-family: 'Rasa' !important;
          font-weight: 400 !important;
}
.u-font-rasa-500 {
          font-family: 'Rasa' !important;
          font-weight: 500 !important;
}
.u-font-rasa-600 {
          font-family: 'Rasa' !important;
          font-weight: 600 !important;
}
.u-font-rasa-700 {
          font-family: 'Rasa' !important;
          font-weight: 700 !important;
}
