.u-font-bai-jamjuree-200 {
          font-family: 'Bai Jamjuree' !important;
          font-weight: 200 !important;
}
.u-font-bai-jamjuree-200-italic {
        font-family: 'Bai Jamjuree' !important;
        font-weight: 200 !important;
        font-style: italic !important;
}
.u-font-bai-jamjuree-300 {
          font-family: 'Bai Jamjuree' !important;
          font-weight: 300 !important;
}
.u-font-bai-jamjuree-300-italic {
        font-family: 'Bai Jamjuree' !important;
        font-weight: 300 !important;
        font-style: italic !important;
}
.u-font-bai-jamjuree-400 {
          font-family: 'Bai Jamjuree' !important;
          font-weight: 400 !important;
}
.u-font-bai-jamjuree-400-italic {
        font-family: 'Bai Jamjuree' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-bai-jamjuree-500 {
          font-family: 'Bai Jamjuree' !important;
          font-weight: 500 !important;
}
.u-font-bai-jamjuree-500-italic {
        font-family: 'Bai Jamjuree' !important;
        font-weight: 500 !important;
        font-style: italic !important;
}
.u-font-bai-jamjuree-600 {
          font-family: 'Bai Jamjuree' !important;
          font-weight: 600 !important;
}
.u-font-bai-jamjuree-600-italic {
        font-family: 'Bai Jamjuree' !important;
        font-weight: 600 !important;
        font-style: italic !important;
}
.u-font-bai-jamjuree-700 {
          font-family: 'Bai Jamjuree' !important;
          font-weight: 700 !important;
}
.u-font-bai-jamjuree-700-italic {
        font-family: 'Bai Jamjuree' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}