.u-font-lato-100 {
          font-family: 'Lato' !important;
          font-weight: 100 !important;
}
.u-font-lato-100-italic {
        font-family: 'Lato' !important;
        font-weight: 100 !important;
        font-style: italic !important;
}
.u-font-lato-300 {
          font-family: 'Lato' !important;
          font-weight: 300 !important;
}
.u-font-lato-300-italic {
        font-family: 'Lato' !important;
        font-weight: 300 !important;
        font-style: italic !important;
}
.u-font-lato-400 {
          font-family: 'Lato' !important;
          font-weight: 400 !important;
}
.u-font-lato-400-italic {
        font-family: 'Lato' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-lato-700 {
          font-family: 'Lato' !important;
          font-weight: 700 !important;
}
.u-font-lato-700-italic {
        font-family: 'Lato' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}
.u-font-lato-900 {
          font-family: 'Lato' !important;
          font-weight: 900 !important;
}
.u-font-lato-900-italic {
        font-family: 'Lato' !important;
        font-weight: 900 !important;
        font-style: italic !important;
}