.u-font-asap-400 {
          font-family: 'Asap' !important;
          font-weight: 400 !important;
}
.u-font-asap-400-italic {
        font-family: 'Asap' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-asap-500 {
          font-family: 'Asap' !important;
          font-weight: 500 !important;
}
.u-font-asap-500-italic {
        font-family: 'Asap' !important;
        font-weight: 500 !important;
        font-style: italic !important;
}
.u-font-asap-600 {
          font-family: 'Asap' !important;
          font-weight: 600 !important;
}
.u-font-asap-600-italic {
        font-family: 'Asap' !important;
        font-weight: 600 !important;
        font-style: italic !important;
}
.u-font-asap-700 {
          font-family: 'Asap' !important;
          font-weight: 700 !important;
}
.u-font-asap-700-italic {
        font-family: 'Asap' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}