.u-font-pridi-200 {
          font-family: 'Pridi' !important;
          font-weight: 200 !important;
}
.u-font-pridi-300 {
          font-family: 'Pridi' !important;
          font-weight: 300 !important;
}
.u-font-pridi-400 {
          font-family: 'Pridi' !important;
          font-weight: 400 !important;
}
.u-font-pridi-500 {
          font-family: 'Pridi' !important;
          font-weight: 500 !important;
}
.u-font-pridi-600 {
          font-family: 'Pridi' !important;
          font-weight: 600 !important;
}
.u-font-pridi-700 {
          font-family: 'Pridi' !important;
          font-weight: 700 !important;
}