.u-font-lusitana-400 {
          font-family: 'Lusitana' !important;
          font-weight: 400 !important;
}
.u-font-lusitana-700 {
          font-family: 'Lusitana' !important;
          font-weight: 700 !important;
}
