.u-font-frank-ruhl-libre-300 {
          font-family: 'Frank Ruhl Libre' !important;
          font-weight: 300 !important;
}
.u-font-frank-ruhl-libre-400 {
          font-family: 'Frank Ruhl Libre' !important;
          font-weight: 400 !important;
}
.u-font-frank-ruhl-libre-500 {
          font-family: 'Frank Ruhl Libre' !important;
          font-weight: 500 !important;
}
.u-font-frank-ruhl-libre-700 {
          font-family: 'Frank Ruhl Libre' !important;
          font-weight: 700 !important;
}
.u-font-frank-ruhl-libre-900 {
          font-family: 'Frank Ruhl Libre' !important;
          font-weight: 900 !important;
}