.u-font-im-fell-great-primer-400 {
          font-family: 'IM Fell Great Primer' !important;
          font-weight: 400 !important;
}
.u-font-im-fell-great-primer-400-italic {
        font-family: 'IM Fell Great Primer' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
