.u-font-mulish-200 {
          font-family: 'Mulish' !important;
          font-weight: 200 !important;
}
.u-font-mulish-300 {
          font-family: 'Mulish' !important;
          font-weight: 300 !important;
}
.u-font-mulish-400 {
          font-family: 'Mulish' !important;
          font-weight: 400 !important;
}
.u-font-mulish-500 {
          font-family: 'Mulish' !important;
          font-weight: 500 !important;
}
.u-font-mulish-600 {
          font-family: 'Mulish' !important;
          font-weight: 600 !important;
}
.u-font-mulish-700 {
          font-family: 'Mulish' !important;
          font-weight: 700 !important;
}
.u-font-mulish-800 {
          font-family: 'Mulish' !important;
          font-weight: 800 !important;
}
.u-font-mulish-900 {
          font-family: 'Mulish' !important;
          font-weight: 900 !important;
}
.u-font-mulish-200-italic {
        font-family: 'Mulish' !important;
        font-weight: 200 !important;
        font-style: italic !important;
}
.u-font-mulish-300-italic {
        font-family: 'Mulish' !important;
        font-weight: 300 !important;
        font-style: italic !important;
}
.u-font-mulish-400-italic {
        font-family: 'Mulish' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-mulish-500-italic {
        font-family: 'Mulish' !important;
        font-weight: 500 !important;
        font-style: italic !important;
}
.u-font-mulish-600-italic {
        font-family: 'Mulish' !important;
        font-weight: 600 !important;
        font-style: italic !important;
}
.u-font-mulish-700-italic {
        font-family: 'Mulish' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}
.u-font-mulish-800-italic {
        font-family: 'Mulish' !important;
        font-weight: 800 !important;
        font-style: italic !important;
}
.u-font-mulish-900-italic {
        font-family: 'Mulish' !important;
        font-weight: 900 !important;
        font-style: italic !important;
}