.u-font-khand-300 {
          font-family: 'Khand' !important;
          font-weight: 300 !important;
}
.u-font-khand-400 {
          font-family: 'Khand' !important;
          font-weight: 400 !important;
}
.u-font-khand-500 {
          font-family: 'Khand' !important;
          font-weight: 500 !important;
}
.u-font-khand-600 {
          font-family: 'Khand' !important;
          font-weight: 600 !important;
}
.u-font-khand-700 {
          font-family: 'Khand' !important;
          font-weight: 700 !important;
}