.u-font-elsie-400 {
          font-family: 'Elsie' !important;
          font-weight: 400 !important;
}
.u-font-elsie-900 {
          font-family: 'Elsie' !important;
          font-weight: 900 !important;
}