.u-font-titillium-web-200 {
          font-family: 'Titillium Web' !important;
          font-weight: 200 !important;
}
.u-font-titillium-web-200-italic {
        font-family: 'Titillium Web' !important;
        font-weight: 200 !important;
        font-style: italic !important;
}
.u-font-titillium-web-300 {
          font-family: 'Titillium Web' !important;
          font-weight: 300 !important;
}
.u-font-titillium-web-300-italic {
        font-family: 'Titillium Web' !important;
        font-weight: 300 !important;
        font-style: italic !important;
}
.u-font-titillium-web-400 {
          font-family: 'Titillium Web' !important;
          font-weight: 400 !important;
}
.u-font-titillium-web-400-italic {
        font-family: 'Titillium Web' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-titillium-web-600 {
          font-family: 'Titillium Web' !important;
          font-weight: 600 !important;
}
.u-font-titillium-web-600-italic {
        font-family: 'Titillium Web' !important;
        font-weight: 600 !important;
        font-style: italic !important;
}
.u-font-titillium-web-700 {
          font-family: 'Titillium Web' !important;
          font-weight: 700 !important;
}
.u-font-titillium-web-700-italic {
        font-family: 'Titillium Web' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}
.u-font-titillium-web-900 {
          font-family: 'Titillium Web' !important;
          font-weight: 900 !important;
}