.u-font-share-400 {
          font-family: 'Share' !important;
          font-weight: 400 !important;
}
.u-font-share-400-italic {
        font-family: 'Share' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-share-700 {
          font-family: 'Share' !important;
          font-weight: 700 !important;
}
.u-font-share-700-italic {
        font-family: 'Share' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}