.u-font-sarabun-100 {
          font-family: 'Sarabun' !important;
          font-weight: 100 !important;
}
.u-font-sarabun-100-italic {
        font-family: 'Sarabun' !important;
        font-weight: 100 !important;
        font-style: italic !important;
}
.u-font-sarabun-200 {
          font-family: 'Sarabun' !important;
          font-weight: 200 !important;
}
.u-font-sarabun-200-italic {
        font-family: 'Sarabun' !important;
        font-weight: 200 !important;
        font-style: italic !important;
}
.u-font-sarabun-300 {
          font-family: 'Sarabun' !important;
          font-weight: 300 !important;
}
.u-font-sarabun-300-italic {
        font-family: 'Sarabun' !important;
        font-weight: 300 !important;
        font-style: italic !important;
}
.u-font-sarabun-400 {
          font-family: 'Sarabun' !important;
          font-weight: 400 !important;
}
.u-font-sarabun-400-italic {
        font-family: 'Sarabun' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-sarabun-500 {
          font-family: 'Sarabun' !important;
          font-weight: 500 !important;
}
.u-font-sarabun-500-italic {
        font-family: 'Sarabun' !important;
        font-weight: 500 !important;
        font-style: italic !important;
}
.u-font-sarabun-600 {
          font-family: 'Sarabun' !important;
          font-weight: 600 !important;
}
.u-font-sarabun-600-italic {
        font-family: 'Sarabun' !important;
        font-weight: 600 !important;
        font-style: italic !important;
}
.u-font-sarabun-700 {
          font-family: 'Sarabun' !important;
          font-weight: 700 !important;
}
.u-font-sarabun-700-italic {
        font-family: 'Sarabun' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}
.u-font-sarabun-800 {
          font-family: 'Sarabun' !important;
          font-weight: 800 !important;
}
.u-font-sarabun-800-italic {
        font-family: 'Sarabun' !important;
        font-weight: 800 !important;
        font-style: italic !important;
}
