.u-font-cormorant-unicase-300 {
          font-family: 'Cormorant Unicase' !important;
          font-weight: 300 !important;
}
.u-font-cormorant-unicase-400 {
          font-family: 'Cormorant Unicase' !important;
          font-weight: 400 !important;
}
.u-font-cormorant-unicase-500 {
          font-family: 'Cormorant Unicase' !important;
          font-weight: 500 !important;
}
.u-font-cormorant-unicase-600 {
          font-family: 'Cormorant Unicase' !important;
          font-weight: 600 !important;
}
.u-font-cormorant-unicase-700 {
          font-family: 'Cormorant Unicase' !important;
          font-weight: 700 !important;
}