.u-font-averia-sans-libre-300 {
          font-family: 'Averia Sans Libre' !important;
          font-weight: 300 !important;
}
.u-font-averia-sans-libre-300-italic {
        font-family: 'Averia Sans Libre' !important;
        font-weight: 300 !important;
        font-style: italic !important;
}
.u-font-averia-sans-libre-400 {
          font-family: 'Averia Sans Libre' !important;
          font-weight: 400 !important;
}
.u-font-averia-sans-libre-400-italic {
        font-family: 'Averia Sans Libre' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-averia-sans-libre-700 {
          font-family: 'Averia Sans Libre' !important;
          font-weight: 700 !important;
}
.u-font-averia-sans-libre-700-italic {
        font-family: 'Averia Sans Libre' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}