.u-font-sintony-400 {
          font-family: 'Sintony' !important;
          font-weight: 400 !important;
}
.u-font-sintony-700 {
          font-family: 'Sintony' !important;
          font-weight: 700 !important;
}
