.u-font-oleo-script-swash-caps-400 {
          font-family: 'Oleo Script Swash Caps' !important;
          font-weight: 400 !important;
}
.u-font-oleo-script-swash-caps-700 {
          font-family: 'Oleo Script Swash Caps' !important;
          font-weight: 700 !important;
}