.u-font-oxygen-300 {
          font-family: 'Oxygen' !important;
          font-weight: 300 !important;
}
.u-font-oxygen-400 {
          font-family: 'Oxygen' !important;
          font-weight: 400 !important;
}
.u-font-oxygen-700 {
          font-family: 'Oxygen' !important;
          font-weight: 700 !important;
}