.u-font-noto-serif-sc-200 {
          font-family: 'Noto Serif SC' !important;
          font-weight: 200 !important;
}
.u-font-noto-serif-sc-300 {
          font-family: 'Noto Serif SC' !important;
          font-weight: 300 !important;
}
.u-font-noto-serif-sc-400 {
          font-family: 'Noto Serif SC' !important;
          font-weight: 400 !important;
}
.u-font-noto-serif-sc-500 {
          font-family: 'Noto Serif SC' !important;
          font-weight: 500 !important;
}
.u-font-noto-serif-sc-600 {
          font-family: 'Noto Serif SC' !important;
          font-weight: 600 !important;
}
.u-font-noto-serif-sc-700 {
          font-family: 'Noto Serif SC' !important;
          font-weight: 700 !important;
}
.u-font-noto-serif-sc-900 {
          font-family: 'Noto Serif SC' !important;
          font-weight: 900 !important;
}
