.u-font-sarala-400 {
          font-family: 'Sarala' !important;
          font-weight: 400 !important;
}
.u-font-sarala-700 {
          font-family: 'Sarala' !important;
          font-weight: 700 !important;
}
