.u-font-inter-100 {
          font-family: 'Inter' !important;
          font-weight: 100 !important;
}
.u-font-inter-200 {
          font-family: 'Inter' !important;
          font-weight: 200 !important;
}
.u-font-inter-300 {
          font-family: 'Inter' !important;
          font-weight: 300 !important;
}
.u-font-inter-400 {
          font-family: 'Inter' !important;
          font-weight: 400 !important;
}
.u-font-inter-500 {
          font-family: 'Inter' !important;
          font-weight: 500 !important;
}
.u-font-inter-600 {
          font-family: 'Inter' !important;
          font-weight: 600 !important;
}
.u-font-inter-700 {
          font-family: 'Inter' !important;
          font-weight: 700 !important;
}
.u-font-inter-800 {
          font-family: 'Inter' !important;
          font-weight: 800 !important;
}
.u-font-inter-900 {
          font-family: 'Inter' !important;
          font-weight: 900 !important;
}