.u-font-anonymous-pro-400 {
          font-family: 'Anonymous Pro' !important;
          font-weight: 400 !important;
}
.u-font-anonymous-pro-400-italic {
        font-family: 'Anonymous Pro' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-anonymous-pro-700 {
          font-family: 'Anonymous Pro' !important;
          font-weight: 700 !important;
}
.u-font-anonymous-pro-700-italic {
        font-family: 'Anonymous Pro' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}