.u-font-rufina-400 {
          font-family: 'Rufina' !important;
          font-weight: 400 !important;
}
.u-font-rufina-700 {
          font-family: 'Rufina' !important;
          font-weight: 700 !important;
}