.u-font-atma-300 {
          font-family: 'Atma' !important;
          font-weight: 300 !important;
}
.u-font-atma-400 {
          font-family: 'Atma' !important;
          font-weight: 400 !important;
}
.u-font-atma-500 {
          font-family: 'Atma' !important;
          font-weight: 500 !important;
}
.u-font-atma-600 {
          font-family: 'Atma' !important;
          font-weight: 600 !important;
}
.u-font-atma-700 {
          font-family: 'Atma' !important;
          font-weight: 700 !important;
}