.u-font-cormorant-sc-300 {
          font-family: 'Cormorant SC' !important;
          font-weight: 300 !important;
}
.u-font-cormorant-sc-400 {
          font-family: 'Cormorant SC' !important;
          font-weight: 400 !important;
}
.u-font-cormorant-sc-500 {
          font-family: 'Cormorant SC' !important;
          font-weight: 500 !important;
}
.u-font-cormorant-sc-600 {
          font-family: 'Cormorant SC' !important;
          font-weight: 600 !important;
}
.u-font-cormorant-sc-700 {
          font-family: 'Cormorant SC' !important;
          font-weight: 700 !important;
}