.u-font-spectral-sc-200 {
          font-family: 'Spectral SC' !important;
          font-weight: 200 !important;
}
.u-font-spectral-sc-200-italic {
        font-family: 'Spectral SC' !important;
        font-weight: 200 !important;
        font-style: italic !important;
}
.u-font-spectral-sc-300 {
          font-family: 'Spectral SC' !important;
          font-weight: 300 !important;
}
.u-font-spectral-sc-300-italic {
        font-family: 'Spectral SC' !important;
        font-weight: 300 !important;
        font-style: italic !important;
}
.u-font-spectral-sc-400 {
          font-family: 'Spectral SC' !important;
          font-weight: 400 !important;
}
.u-font-spectral-sc-400-italic {
        font-family: 'Spectral SC' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-spectral-sc-500 {
          font-family: 'Spectral SC' !important;
          font-weight: 500 !important;
}
.u-font-spectral-sc-500-italic {
        font-family: 'Spectral SC' !important;
        font-weight: 500 !important;
        font-style: italic !important;
}
.u-font-spectral-sc-600 {
          font-family: 'Spectral SC' !important;
          font-weight: 600 !important;
}
.u-font-spectral-sc-600-italic {
        font-family: 'Spectral SC' !important;
        font-weight: 600 !important;
        font-style: italic !important;
}
.u-font-spectral-sc-700 {
          font-family: 'Spectral SC' !important;
          font-weight: 700 !important;
}
.u-font-spectral-sc-700-italic {
        font-family: 'Spectral SC' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}
.u-font-spectral-sc-800 {
          font-family: 'Spectral SC' !important;
          font-weight: 800 !important;
}
.u-font-spectral-sc-800-italic {
        font-family: 'Spectral SC' !important;
        font-weight: 800 !important;
        font-style: italic !important;
}
