.u-font-lobster-two-400 {
          font-family: 'Lobster Two' !important;
          font-weight: 400 !important;
}
.u-font-lobster-two-400-italic {
        font-family: 'Lobster Two' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-lobster-two-700 {
          font-family: 'Lobster Two' !important;
          font-weight: 700 !important;
}
.u-font-lobster-two-700-italic {
        font-family: 'Lobster Two' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}