.u-font-amita-400 {
          font-family: 'Amita' !important;
          font-weight: 400 !important;
}
.u-font-amita-700 {
          font-family: 'Amita' !important;
          font-weight: 700 !important;
}
