.u-font-charmonman-400 {
          font-family: 'Charmonman' !important;
          font-weight: 400 !important;
}
.u-font-charmonman-700 {
          font-family: 'Charmonman' !important;
          font-weight: 700 !important;
}
