.u-font-magra-400 {
          font-family: 'Magra' !important;
          font-weight: 400 !important;
}
.u-font-magra-700 {
          font-family: 'Magra' !important;
          font-weight: 700 !important;
}
