.u-font-turret-road-200 {
          font-family: 'Turret Road' !important;
          font-weight: 200 !important;
}
.u-font-turret-road-300 {
          font-family: 'Turret Road' !important;
          font-weight: 300 !important;
}
.u-font-turret-road-400 {
          font-family: 'Turret Road' !important;
          font-weight: 400 !important;
}
.u-font-turret-road-500 {
          font-family: 'Turret Road' !important;
          font-weight: 500 !important;
}
.u-font-turret-road-700 {
          font-family: 'Turret Road' !important;
          font-weight: 700 !important;
}
.u-font-turret-road-800 {
          font-family: 'Turret Road' !important;
          font-weight: 800 !important;
}
