.u-font-inknut-antiqua-300 {
          font-family: 'Inknut Antiqua' !important;
          font-weight: 300 !important;
}
.u-font-inknut-antiqua-400 {
          font-family: 'Inknut Antiqua' !important;
          font-weight: 400 !important;
}
.u-font-inknut-antiqua-500 {
          font-family: 'Inknut Antiqua' !important;
          font-weight: 500 !important;
}
.u-font-inknut-antiqua-600 {
          font-family: 'Inknut Antiqua' !important;
          font-weight: 600 !important;
}
.u-font-inknut-antiqua-700 {
          font-family: 'Inknut Antiqua' !important;
          font-weight: 700 !important;
}
.u-font-inknut-antiqua-800 {
          font-family: 'Inknut Antiqua' !important;
          font-weight: 800 !important;
}
.u-font-inknut-antiqua-900 {
          font-family: 'Inknut Antiqua' !important;
          font-weight: 900 !important;
}