.u-font-codystar-300 {
          font-family: 'Codystar' !important;
          font-weight: 300 !important;
}
.u-font-codystar-400 {
          font-family: 'Codystar' !important;
          font-weight: 400 !important;
}
