.u-font-laila-300 {
          font-family: 'Laila' !important;
          font-weight: 300 !important;
}
.u-font-laila-400 {
          font-family: 'Laila' !important;
          font-weight: 400 !important;
}
.u-font-laila-500 {
          font-family: 'Laila' !important;
          font-weight: 500 !important;
}
.u-font-laila-600 {
          font-family: 'Laila' !important;
          font-weight: 600 !important;
}
.u-font-laila-700 {
          font-family: 'Laila' !important;
          font-weight: 700 !important;
}
