.u-font-gothic-a1-100 {
          font-family: 'Gothic A1' !important;
          font-weight: 100 !important;
}
.u-font-gothic-a1-200 {
          font-family: 'Gothic A1' !important;
          font-weight: 200 !important;
}
.u-font-gothic-a1-300 {
          font-family: 'Gothic A1' !important;
          font-weight: 300 !important;
}
.u-font-gothic-a1-400 {
          font-family: 'Gothic A1' !important;
          font-weight: 400 !important;
}
.u-font-gothic-a1-500 {
          font-family: 'Gothic A1' !important;
          font-weight: 500 !important;
}
.u-font-gothic-a1-600 {
          font-family: 'Gothic A1' !important;
          font-weight: 600 !important;
}
.u-font-gothic-a1-700 {
          font-family: 'Gothic A1' !important;
          font-weight: 700 !important;
}
.u-font-gothic-a1-800 {
          font-family: 'Gothic A1' !important;
          font-weight: 800 !important;
}
.u-font-gothic-a1-900 {
          font-family: 'Gothic A1' !important;
          font-weight: 900 !important;
}