.u-font-im-fell-double-pica-400 {
          font-family: 'IM Fell Double Pica' !important;
          font-weight: 400 !important;
}
.u-font-im-fell-double-pica-400-italic {
        font-family: 'IM Fell Double Pica' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}