.u-font-lekton-400 {
          font-family: 'Lekton' !important;
          font-weight: 400 !important;
}
.u-font-lekton-400-italic {
        font-family: 'Lekton' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-lekton-700 {
          font-family: 'Lekton' !important;
          font-weight: 700 !important;
}