.u-font-aref-ruqaa-400 {
          font-family: 'Aref Ruqaa' !important;
          font-weight: 400 !important;
}
.u-font-aref-ruqaa-700 {
          font-family: 'Aref Ruqaa' !important;
          font-weight: 700 !important;
}