.u-font-quattrocento-400 {
          font-family: 'Quattrocento' !important;
          font-weight: 400 !important;
}
.u-font-quattrocento-700 {
          font-family: 'Quattrocento' !important;
          font-weight: 700 !important;
}