.u-font-astloch-400 {
          font-family: 'Astloch' !important;
          font-weight: 400 !important;
}
.u-font-astloch-700 {
          font-family: 'Astloch' !important;
          font-weight: 700 !important;
}