.u-font-changa-one-400 {
          font-family: 'Changa One' !important;
          font-weight: 400 !important;
}
.u-font-changa-one-400-italic {
        font-family: 'Changa One' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
