.u-font-ibarra-real-nova-400 {
          font-family: 'Ibarra Real Nova' !important;
          font-weight: 400 !important;
}
.u-font-ibarra-real-nova-500 {
          font-family: 'Ibarra Real Nova' !important;
          font-weight: 500 !important;
}
.u-font-ibarra-real-nova-600 {
          font-family: 'Ibarra Real Nova' !important;
          font-weight: 600 !important;
}
.u-font-ibarra-real-nova-700 {
          font-family: 'Ibarra Real Nova' !important;
          font-weight: 700 !important;
}
.u-font-ibarra-real-nova-400-italic {
        font-family: 'Ibarra Real Nova' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-ibarra-real-nova-500-italic {
        font-family: 'Ibarra Real Nova' !important;
        font-weight: 500 !important;
        font-style: italic !important;
}
.u-font-ibarra-real-nova-600-italic {
        font-family: 'Ibarra Real Nova' !important;
        font-weight: 600 !important;
        font-style: italic !important;
}
.u-font-ibarra-real-nova-700-italic {
        font-family: 'Ibarra Real Nova' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}
