.u-font-tinos-400 {
          font-family: 'Tinos' !important;
          font-weight: 400 !important;
}
.u-font-tinos-400-italic {
        font-family: 'Tinos' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-tinos-700 {
          font-family: 'Tinos' !important;
          font-weight: 700 !important;
}
.u-font-tinos-700-italic {
        font-family: 'Tinos' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}