.u-font-kumbh-sans-300 {
          font-family: 'Kumbh Sans' !important;
          font-weight: 300 !important;
}
.u-font-kumbh-sans-400 {
          font-family: 'Kumbh Sans' !important;
          font-weight: 400 !important;
}
.u-font-kumbh-sans-700 {
          font-family: 'Kumbh Sans' !important;
          font-weight: 700 !important;
}