.u-font-londrina-solid-100 {
          font-family: 'Londrina Solid' !important;
          font-weight: 100 !important;
}
.u-font-londrina-solid-300 {
          font-family: 'Londrina Solid' !important;
          font-weight: 300 !important;
}
.u-font-londrina-solid-400 {
          font-family: 'Londrina Solid' !important;
          font-weight: 400 !important;
}
.u-font-londrina-solid-900 {
          font-family: 'Londrina Solid' !important;
          font-weight: 900 !important;
}
