.u-font-solway-300 {
          font-family: 'Solway' !important;
          font-weight: 300 !important;
}
.u-font-solway-400 {
          font-family: 'Solway' !important;
          font-weight: 400 !important;
}
.u-font-solway-500 {
          font-family: 'Solway' !important;
          font-weight: 500 !important;
}
.u-font-solway-700 {
          font-family: 'Solway' !important;
          font-weight: 700 !important;
}
.u-font-solway-800 {
          font-family: 'Solway' !important;
          font-weight: 800 !important;
}
