.u-font-crete-round-400 {
          font-family: 'Crete Round' !important;
          font-weight: 400 !important;
}
.u-font-crete-round-400-italic {
        font-family: 'Crete Round' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}