.u-font-cherry-swash-400 {
          font-family: 'Cherry Swash' !important;
          font-weight: 400 !important;
}
.u-font-cherry-swash-700 {
          font-family: 'Cherry Swash' !important;
          font-weight: 700 !important;
}
