.u-font-arya-400 {
          font-family: 'Arya' !important;
          font-weight: 400 !important;
}
.u-font-arya-700 {
          font-family: 'Arya' !important;
          font-weight: 700 !important;
}