.u-font-play-400 {
          font-family: 'Play' !important;
          font-weight: 400 !important;
}
.u-font-play-700 {
          font-family: 'Play' !important;
          font-weight: 700 !important;
}
