.u-font-grandstander-100 {
          font-family: 'Grandstander' !important;
          font-weight: 100 !important;
}
.u-font-grandstander-200 {
          font-family: 'Grandstander' !important;
          font-weight: 200 !important;
}
.u-font-grandstander-300 {
          font-family: 'Grandstander' !important;
          font-weight: 300 !important;
}
.u-font-grandstander-400 {
          font-family: 'Grandstander' !important;
          font-weight: 400 !important;
}
.u-font-grandstander-500 {
          font-family: 'Grandstander' !important;
          font-weight: 500 !important;
}
.u-font-grandstander-600 {
          font-family: 'Grandstander' !important;
          font-weight: 600 !important;
}
.u-font-grandstander-700 {
          font-family: 'Grandstander' !important;
          font-weight: 700 !important;
}
.u-font-grandstander-800 {
          font-family: 'Grandstander' !important;
          font-weight: 800 !important;
}
.u-font-grandstander-900 {
          font-family: 'Grandstander' !important;
          font-weight: 900 !important;
}
.u-font-grandstander-100-italic {
        font-family: 'Grandstander' !important;
        font-weight: 100 !important;
        font-style: italic !important;
}
.u-font-grandstander-200-italic {
        font-family: 'Grandstander' !important;
        font-weight: 200 !important;
        font-style: italic !important;
}
.u-font-grandstander-300-italic {
        font-family: 'Grandstander' !important;
        font-weight: 300 !important;
        font-style: italic !important;
}
.u-font-grandstander-400-italic {
        font-family: 'Grandstander' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-grandstander-500-italic {
        font-family: 'Grandstander' !important;
        font-weight: 500 !important;
        font-style: italic !important;
}
.u-font-grandstander-600-italic {
        font-family: 'Grandstander' !important;
        font-weight: 600 !important;
        font-style: italic !important;
}
.u-font-grandstander-700-italic {
        font-family: 'Grandstander' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}
.u-font-grandstander-800-italic {
        font-family: 'Grandstander' !important;
        font-weight: 800 !important;
        font-style: italic !important;
}
.u-font-grandstander-900-italic {
        font-family: 'Grandstander' !important;
        font-weight: 900 !important;
        font-style: italic !important;
}