.u-font-be-vietnam-100 {
          font-family: 'Be Vietnam' !important;
          font-weight: 100 !important;
}
.u-font-be-vietnam-100-italic {
        font-family: 'Be Vietnam' !important;
        font-weight: 100 !important;
        font-style: italic !important;
}
.u-font-be-vietnam-300 {
          font-family: 'Be Vietnam' !important;
          font-weight: 300 !important;
}
.u-font-be-vietnam-300-italic {
        font-family: 'Be Vietnam' !important;
        font-weight: 300 !important;
        font-style: italic !important;
}
.u-font-be-vietnam-400 {
          font-family: 'Be Vietnam' !important;
          font-weight: 400 !important;
}
.u-font-be-vietnam-400-italic {
        font-family: 'Be Vietnam' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-be-vietnam-500 {
          font-family: 'Be Vietnam' !important;
          font-weight: 500 !important;
}
.u-font-be-vietnam-500-italic {
        font-family: 'Be Vietnam' !important;
        font-weight: 500 !important;
        font-style: italic !important;
}
.u-font-be-vietnam-600 {
          font-family: 'Be Vietnam' !important;
          font-weight: 600 !important;
}
.u-font-be-vietnam-600-italic {
        font-family: 'Be Vietnam' !important;
        font-weight: 600 !important;
        font-style: italic !important;
}
.u-font-be-vietnam-700 {
          font-family: 'Be Vietnam' !important;
          font-weight: 700 !important;
}
.u-font-be-vietnam-700-italic {
        font-family: 'Be Vietnam' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}
.u-font-be-vietnam-800 {
          font-family: 'Be Vietnam' !important;
          font-weight: 800 !important;
}
.u-font-be-vietnam-800-italic {
        font-family: 'Be Vietnam' !important;
        font-weight: 800 !important;
        font-style: italic !important;
}
