.u-font-libre-baskerville-400 {
          font-family: 'Libre Baskerville' !important;
          font-weight: 400 !important;
}
.u-font-libre-baskerville-400-italic {
        font-family: 'Libre Baskerville' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-libre-baskerville-700 {
          font-family: 'Libre Baskerville' !important;
          font-weight: 700 !important;
}