.u-font-markazi-text-400 {
          font-family: 'Markazi Text' !important;
          font-weight: 400 !important;
}
.u-font-markazi-text-500 {
          font-family: 'Markazi Text' !important;
          font-weight: 500 !important;
}
.u-font-markazi-text-600 {
          font-family: 'Markazi Text' !important;
          font-weight: 600 !important;
}
.u-font-markazi-text-700 {
          font-family: 'Markazi Text' !important;
          font-weight: 700 !important;
}