.u-font-gentium-book-basic-400 {
          font-family: 'Gentium Book Basic' !important;
          font-weight: 400 !important;
}
.u-font-gentium-book-basic-400-italic {
        font-family: 'Gentium Book Basic' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-gentium-book-basic-700 {
          font-family: 'Gentium Book Basic' !important;
          font-weight: 700 !important;
}
.u-font-gentium-book-basic-700-italic {
        font-family: 'Gentium Book Basic' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}
