.u-font-palanquin-dark-400 {
          font-family: 'Palanquin Dark' !important;
          font-weight: 400 !important;
}
.u-font-palanquin-dark-500 {
          font-family: 'Palanquin Dark' !important;
          font-weight: 500 !important;
}
.u-font-palanquin-dark-600 {
          font-family: 'Palanquin Dark' !important;
          font-weight: 600 !important;
}
.u-font-palanquin-dark-700 {
          font-family: 'Palanquin Dark' !important;
          font-weight: 700 !important;
}
