.u-font-roboto-mono-100 {
          font-family: 'Roboto Mono' !important;
          font-weight: 100 !important;
}
.u-font-roboto-mono-200 {
          font-family: 'Roboto Mono' !important;
          font-weight: 200 !important;
}
.u-font-roboto-mono-300 {
          font-family: 'Roboto Mono' !important;
          font-weight: 300 !important;
}
.u-font-roboto-mono-400 {
          font-family: 'Roboto Mono' !important;
          font-weight: 400 !important;
}
.u-font-roboto-mono-500 {
          font-family: 'Roboto Mono' !important;
          font-weight: 500 !important;
}
.u-font-roboto-mono-600 {
          font-family: 'Roboto Mono' !important;
          font-weight: 600 !important;
}
.u-font-roboto-mono-700 {
          font-family: 'Roboto Mono' !important;
          font-weight: 700 !important;
}
.u-font-roboto-mono-100-italic {
        font-family: 'Roboto Mono' !important;
        font-weight: 100 !important;
        font-style: italic !important;
}
.u-font-roboto-mono-200-italic {
        font-family: 'Roboto Mono' !important;
        font-weight: 200 !important;
        font-style: italic !important;
}
.u-font-roboto-mono-300-italic {
        font-family: 'Roboto Mono' !important;
        font-weight: 300 !important;
        font-style: italic !important;
}
.u-font-roboto-mono-400-italic {
        font-family: 'Roboto Mono' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-roboto-mono-500-italic {
        font-family: 'Roboto Mono' !important;
        font-weight: 500 !important;
        font-style: italic !important;
}
.u-font-roboto-mono-600-italic {
        font-family: 'Roboto Mono' !important;
        font-weight: 600 !important;
        font-style: italic !important;
}
.u-font-roboto-mono-700-italic {
        font-family: 'Roboto Mono' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}