.u-font-allan-400 {
          font-family: 'Allan' !important;
          font-weight: 400 !important;
}
.u-font-allan-700 {
          font-family: 'Allan' !important;
          font-weight: 700 !important;
}
