.u-font-zilla-slab-300 {
          font-family: 'Zilla Slab' !important;
          font-weight: 300 !important;
}
.u-font-zilla-slab-300-italic {
        font-family: 'Zilla Slab' !important;
        font-weight: 300 !important;
        font-style: italic !important;
}
.u-font-zilla-slab-400 {
          font-family: 'Zilla Slab' !important;
          font-weight: 400 !important;
}
.u-font-zilla-slab-400-italic {
        font-family: 'Zilla Slab' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-zilla-slab-500 {
          font-family: 'Zilla Slab' !important;
          font-weight: 500 !important;
}
.u-font-zilla-slab-500-italic {
        font-family: 'Zilla Slab' !important;
        font-weight: 500 !important;
        font-style: italic !important;
}
.u-font-zilla-slab-600 {
          font-family: 'Zilla Slab' !important;
          font-weight: 600 !important;
}
.u-font-zilla-slab-600-italic {
        font-family: 'Zilla Slab' !important;
        font-weight: 600 !important;
        font-style: italic !important;
}
.u-font-zilla-slab-700 {
          font-family: 'Zilla Slab' !important;
          font-weight: 700 !important;
}
.u-font-zilla-slab-700-italic {
        font-family: 'Zilla Slab' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}
