.u-font-signika-negative-300 {
          font-family: 'Signika Negative' !important;
          font-weight: 300 !important;
}
.u-font-signika-negative-400 {
          font-family: 'Signika Negative' !important;
          font-weight: 400 !important;
}
.u-font-signika-negative-600 {
          font-family: 'Signika Negative' !important;
          font-weight: 600 !important;
}
.u-font-signika-negative-700 {
          font-family: 'Signika Negative' !important;
          font-weight: 700 !important;
}
