.u-font-rokkitt-100 {
          font-family: 'Rokkitt' !important;
          font-weight: 100 !important;
}
.u-font-rokkitt-200 {
          font-family: 'Rokkitt' !important;
          font-weight: 200 !important;
}
.u-font-rokkitt-300 {
          font-family: 'Rokkitt' !important;
          font-weight: 300 !important;
}
.u-font-rokkitt-400 {
          font-family: 'Rokkitt' !important;
          font-weight: 400 !important;
}
.u-font-rokkitt-500 {
          font-family: 'Rokkitt' !important;
          font-weight: 500 !important;
}
.u-font-rokkitt-600 {
          font-family: 'Rokkitt' !important;
          font-weight: 600 !important;
}
.u-font-rokkitt-700 {
          font-family: 'Rokkitt' !important;
          font-weight: 700 !important;
}
.u-font-rokkitt-800 {
          font-family: 'Rokkitt' !important;
          font-weight: 800 !important;
}
.u-font-rokkitt-900 {
          font-family: 'Rokkitt' !important;
          font-weight: 900 !important;
}
