.u-font-hind-vadodara-300 {
          font-family: 'Hind Vadodara' !important;
          font-weight: 300 !important;
}
.u-font-hind-vadodara-400 {
          font-family: 'Hind Vadodara' !important;
          font-weight: 400 !important;
}
.u-font-hind-vadodara-500 {
          font-family: 'Hind Vadodara' !important;
          font-weight: 500 !important;
}
.u-font-hind-vadodara-600 {
          font-family: 'Hind Vadodara' !important;
          font-weight: 600 !important;
}
.u-font-hind-vadodara-700 {
          font-family: 'Hind Vadodara' !important;
          font-weight: 700 !important;
}
