.u-font-content-400 {
          font-family: 'Content' !important;
          font-weight: 400 !important;
}
.u-font-content-700 {
          font-family: 'Content' !important;
          font-weight: 700 !important;
}