.u-font-comic-neue-300 {
          font-family: 'Comic Neue' !important;
          font-weight: 300 !important;
}
.u-font-comic-neue-300-italic {
        font-family: 'Comic Neue' !important;
        font-weight: 300 !important;
        font-style: italic !important;
}
.u-font-comic-neue-400 {
          font-family: 'Comic Neue' !important;
          font-weight: 400 !important;
}
.u-font-comic-neue-400-italic {
        font-family: 'Comic Neue' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-comic-neue-700 {
          font-family: 'Comic Neue' !important;
          font-weight: 700 !important;
}
.u-font-comic-neue-700-italic {
        font-family: 'Comic Neue' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}