.u-font-museomoderno-100 {
          font-family: 'MuseoModerno' !important;
          font-weight: 100 !important;
}
.u-font-museomoderno-200 {
          font-family: 'MuseoModerno' !important;
          font-weight: 200 !important;
}
.u-font-museomoderno-300 {
          font-family: 'MuseoModerno' !important;
          font-weight: 300 !important;
}
.u-font-museomoderno-400 {
          font-family: 'MuseoModerno' !important;
          font-weight: 400 !important;
}
.u-font-museomoderno-500 {
          font-family: 'MuseoModerno' !important;
          font-weight: 500 !important;
}
.u-font-museomoderno-600 {
          font-family: 'MuseoModerno' !important;
          font-weight: 600 !important;
}
.u-font-museomoderno-700 {
          font-family: 'MuseoModerno' !important;
          font-weight: 700 !important;
}
.u-font-museomoderno-800 {
          font-family: 'MuseoModerno' !important;
          font-weight: 800 !important;
}
.u-font-museomoderno-900 {
          font-family: 'MuseoModerno' !important;
          font-weight: 900 !important;
}
