.u-font-kadwa-400 {
          font-family: 'Kadwa' !important;
          font-weight: 400 !important;
}
.u-font-kadwa-700 {
          font-family: 'Kadwa' !important;
          font-weight: 700 !important;
}
