.u-font-sura-400 {
          font-family: 'Sura' !important;
          font-weight: 400 !important;
}
.u-font-sura-700 {
          font-family: 'Sura' !important;
          font-weight: 700 !important;
}
