.u-font-life-savers-400 {
          font-family: 'Life Savers' !important;
          font-weight: 400 !important;
}
.u-font-life-savers-700 {
          font-family: 'Life Savers' !important;
          font-weight: 700 !important;
}
.u-font-life-savers-800 {
          font-family: 'Life Savers' !important;
          font-weight: 800 !important;
}