.u-font-el-messiri-400 {
          font-family: 'El Messiri' !important;
          font-weight: 400 !important;
}
.u-font-el-messiri-500 {
          font-family: 'El Messiri' !important;
          font-weight: 500 !important;
}
.u-font-el-messiri-600 {
          font-family: 'El Messiri' !important;
          font-weight: 600 !important;
}
.u-font-el-messiri-700 {
          font-family: 'El Messiri' !important;
          font-weight: 700 !important;
}