.u-font-arimo-400 {
          font-family: 'Arimo' !important;
          font-weight: 400 !important;
}
.u-font-arimo-500 {
          font-family: 'Arimo' !important;
          font-weight: 500 !important;
}
.u-font-arimo-600 {
          font-family: 'Arimo' !important;
          font-weight: 600 !important;
}
.u-font-arimo-700 {
          font-family: 'Arimo' !important;
          font-weight: 700 !important;
}
.u-font-arimo-400-italic {
        font-family: 'Arimo' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-arimo-500-italic {
        font-family: 'Arimo' !important;
        font-weight: 500 !important;
        font-style: italic !important;
}
.u-font-arimo-600-italic {
        font-family: 'Arimo' !important;
        font-weight: 600 !important;
        font-style: italic !important;
}
.u-font-arimo-700-italic {
        font-family: 'Arimo' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}