.u-font-tajawal-200 {
          font-family: 'Tajawal' !important;
          font-weight: 200 !important;
}
.u-font-tajawal-300 {
          font-family: 'Tajawal' !important;
          font-weight: 300 !important;
}
.u-font-tajawal-400 {
          font-family: 'Tajawal' !important;
          font-weight: 400 !important;
}
.u-font-tajawal-500 {
          font-family: 'Tajawal' !important;
          font-weight: 500 !important;
}
.u-font-tajawal-700 {
          font-family: 'Tajawal' !important;
          font-weight: 700 !important;
}
.u-font-tajawal-800 {
          font-family: 'Tajawal' !important;
          font-weight: 800 !important;
}
.u-font-tajawal-900 {
          font-family: 'Tajawal' !important;
          font-weight: 900 !important;
}