.u-font-istok-web-400 {
          font-family: 'Istok Web' !important;
          font-weight: 400 !important;
}
.u-font-istok-web-400-italic {
        font-family: 'Istok Web' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-istok-web-700 {
          font-family: 'Istok Web' !important;
          font-weight: 700 !important;
}
.u-font-istok-web-700-italic {
        font-family: 'Istok Web' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}
