.u-font-amatic-sc-400 {
          font-family: 'Amatic SC' !important;
          font-weight: 400 !important;
}
.u-font-amatic-sc-700 {
          font-family: 'Amatic SC' !important;
          font-weight: 700 !important;
}