.u-font-m-plus-rounded-1c-100 {
          font-family: 'M PLUS Rounded 1c' !important;
          font-weight: 100 !important;
}
.u-font-m-plus-rounded-1c-300 {
          font-family: 'M PLUS Rounded 1c' !important;
          font-weight: 300 !important;
}
.u-font-m-plus-rounded-1c-400 {
          font-family: 'M PLUS Rounded 1c' !important;
          font-weight: 400 !important;
}
.u-font-m-plus-rounded-1c-500 {
          font-family: 'M PLUS Rounded 1c' !important;
          font-weight: 500 !important;
}
.u-font-m-plus-rounded-1c-700 {
          font-family: 'M PLUS Rounded 1c' !important;
          font-weight: 700 !important;
}
.u-font-m-plus-rounded-1c-800 {
          font-family: 'M PLUS Rounded 1c' !important;
          font-weight: 800 !important;
}
.u-font-m-plus-rounded-1c-900 {
          font-family: 'M PLUS Rounded 1c' !important;
          font-weight: 900 !important;
}