.u-font-cabin-condensed-400 {
          font-family: 'Cabin Condensed' !important;
          font-weight: 400 !important;
}
.u-font-cabin-condensed-500 {
          font-family: 'Cabin Condensed' !important;
          font-weight: 500 !important;
}
.u-font-cabin-condensed-600 {
          font-family: 'Cabin Condensed' !important;
          font-weight: 600 !important;
}
.u-font-cabin-condensed-700 {
          font-family: 'Cabin Condensed' !important;
          font-weight: 700 !important;
}