.u-font-trispace-100 {
          font-family: 'Trispace' !important;
          font-weight: 100 !important;
}
.u-font-trispace-200 {
          font-family: 'Trispace' !important;
          font-weight: 200 !important;
}
.u-font-trispace-300 {
          font-family: 'Trispace' !important;
          font-weight: 300 !important;
}
.u-font-trispace-400 {
          font-family: 'Trispace' !important;
          font-weight: 400 !important;
}
.u-font-trispace-500 {
          font-family: 'Trispace' !important;
          font-weight: 500 !important;
}
.u-font-trispace-600 {
          font-family: 'Trispace' !important;
          font-weight: 600 !important;
}
.u-font-trispace-700 {
          font-family: 'Trispace' !important;
          font-weight: 700 !important;
}
.u-font-trispace-800 {
          font-family: 'Trispace' !important;
          font-weight: 800 !important;
}