.u-font-fondamento-400 {
          font-family: 'Fondamento' !important;
          font-weight: 400 !important;
}
.u-font-fondamento-400-italic {
        font-family: 'Fondamento' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
