.u-font-syncopate-400 {
          font-family: 'Syncopate' !important;
          font-weight: 400 !important;
}
.u-font-syncopate-700 {
          font-family: 'Syncopate' !important;
          font-weight: 700 !important;
}