.u-font-oleo-script-400 {
          font-family: 'Oleo Script' !important;
          font-weight: 400 !important;
}
.u-font-oleo-script-700 {
          font-family: 'Oleo Script' !important;
          font-weight: 700 !important;
}
