.u-font-hind-300 {
          font-family: 'Hind' !important;
          font-weight: 300 !important;
}
.u-font-hind-400 {
          font-family: 'Hind' !important;
          font-weight: 400 !important;
}
.u-font-hind-500 {
          font-family: 'Hind' !important;
          font-weight: 500 !important;
}
.u-font-hind-600 {
          font-family: 'Hind' !important;
          font-weight: 600 !important;
}
.u-font-hind-700 {
          font-family: 'Hind' !important;
          font-weight: 700 !important;
}