.u-font-arsenal-400 {
          font-family: 'Arsenal' !important;
          font-weight: 400 !important;
}
.u-font-arsenal-400-italic {
        font-family: 'Arsenal' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-arsenal-700 {
          font-family: 'Arsenal' !important;
          font-weight: 700 !important;
}
.u-font-arsenal-700-italic {
        font-family: 'Arsenal' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}
