.u-font-rajdhani-300 {
          font-family: 'Rajdhani' !important;
          font-weight: 300 !important;
}
.u-font-rajdhani-400 {
          font-family: 'Rajdhani' !important;
          font-weight: 400 !important;
}
.u-font-rajdhani-500 {
          font-family: 'Rajdhani' !important;
          font-weight: 500 !important;
}
.u-font-rajdhani-600 {
          font-family: 'Rajdhani' !important;
          font-weight: 600 !important;
}
.u-font-rajdhani-700 {
          font-family: 'Rajdhani' !important;
          font-weight: 700 !important;
}