.u-font-stardos-stencil-400 {
          font-family: 'Stardos Stencil' !important;
          font-weight: 400 !important;
}
.u-font-stardos-stencil-700 {
          font-family: 'Stardos Stencil' !important;
          font-weight: 700 !important;
}