.u-font-cormorant-300 {
          font-family: 'Cormorant' !important;
          font-weight: 300 !important;
}
.u-font-cormorant-300-italic {
        font-family: 'Cormorant' !important;
        font-weight: 300 !important;
        font-style: italic !important;
}
.u-font-cormorant-400 {
          font-family: 'Cormorant' !important;
          font-weight: 400 !important;
}
.u-font-cormorant-400-italic {
        font-family: 'Cormorant' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-cormorant-500 {
          font-family: 'Cormorant' !important;
          font-weight: 500 !important;
}
.u-font-cormorant-500-italic {
        font-family: 'Cormorant' !important;
        font-weight: 500 !important;
        font-style: italic !important;
}
.u-font-cormorant-600 {
          font-family: 'Cormorant' !important;
          font-weight: 600 !important;
}
.u-font-cormorant-600-italic {
        font-family: 'Cormorant' !important;
        font-weight: 600 !important;
        font-style: italic !important;
}
.u-font-cormorant-700 {
          font-family: 'Cormorant' !important;
          font-weight: 700 !important;
}
.u-font-cormorant-700-italic {
        font-family: 'Cormorant' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}
