.u-font-pt-serif-caption-400 {
          font-family: 'PT Serif Caption' !important;
          font-weight: 400 !important;
}
.u-font-pt-serif-caption-400-italic {
        font-family: 'PT Serif Caption' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
