.u-font-karma-300 {
          font-family: 'Karma' !important;
          font-weight: 300 !important;
}
.u-font-karma-400 {
          font-family: 'Karma' !important;
          font-weight: 400 !important;
}
.u-font-karma-500 {
          font-family: 'Karma' !important;
          font-weight: 500 !important;
}
.u-font-karma-600 {
          font-family: 'Karma' !important;
          font-weight: 600 !important;
}
.u-font-karma-700 {
          font-family: 'Karma' !important;
          font-weight: 700 !important;
}