.u-font-philosopher-400 {
          font-family: 'Philosopher' !important;
          font-weight: 400 !important;
}
.u-font-philosopher-400-italic {
        font-family: 'Philosopher' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-philosopher-700 {
          font-family: 'Philosopher' !important;
          font-weight: 700 !important;
}
.u-font-philosopher-700-italic {
        font-family: 'Philosopher' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}
