.u-font-im-fell-french-canon-400 {
          font-family: 'IM Fell French Canon' !important;
          font-weight: 400 !important;
}
.u-font-im-fell-french-canon-400-italic {
        font-family: 'IM Fell French Canon' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
