.u-font-mountains-of-christmas-400 {
          font-family: 'Mountains of Christmas' !important;
          font-weight: 400 !important;
}
.u-font-mountains-of-christmas-700 {
          font-family: 'Mountains of Christmas' !important;
          font-weight: 700 !important;
}