.u-font-pragati-narrow-400 {
          font-family: 'Pragati Narrow' !important;
          font-weight: 400 !important;
}
.u-font-pragati-narrow-700 {
          font-family: 'Pragati Narrow' !important;
          font-weight: 700 !important;
}