.u-font-martel-sans-200 {
          font-family: 'Martel Sans' !important;
          font-weight: 200 !important;
}
.u-font-martel-sans-300 {
          font-family: 'Martel Sans' !important;
          font-weight: 300 !important;
}
.u-font-martel-sans-400 {
          font-family: 'Martel Sans' !important;
          font-weight: 400 !important;
}
.u-font-martel-sans-600 {
          font-family: 'Martel Sans' !important;
          font-weight: 600 !important;
}
.u-font-martel-sans-700 {
          font-family: 'Martel Sans' !important;
          font-weight: 700 !important;
}
.u-font-martel-sans-800 {
          font-family: 'Martel Sans' !important;
          font-weight: 800 !important;
}
.u-font-martel-sans-900 {
          font-family: 'Martel Sans' !important;
          font-weight: 900 !important;
}
