.u-font-inria-sans-300 {
          font-family: 'Inria Sans' !important;
          font-weight: 300 !important;
}
.u-font-inria-sans-300-italic {
        font-family: 'Inria Sans' !important;
        font-weight: 300 !important;
        font-style: italic !important;
}
.u-font-inria-sans-400 {
          font-family: 'Inria Sans' !important;
          font-weight: 400 !important;
}
.u-font-inria-sans-400-italic {
        font-family: 'Inria Sans' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-inria-sans-700 {
          font-family: 'Inria Sans' !important;
          font-weight: 700 !important;
}
.u-font-inria-sans-700-italic {
        font-family: 'Inria Sans' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}