.u-font-sumana-400 {
          font-family: 'Sumana' !important;
          font-weight: 400 !important;
}
.u-font-sumana-700 {
          font-family: 'Sumana' !important;
          font-weight: 700 !important;
}