.u-font-vesper-libre-400 {
          font-family: 'Vesper Libre' !important;
          font-weight: 400 !important;
}
.u-font-vesper-libre-500 {
          font-family: 'Vesper Libre' !important;
          font-weight: 500 !important;
}
.u-font-vesper-libre-700 {
          font-family: 'Vesper Libre' !important;
          font-weight: 700 !important;
}
.u-font-vesper-libre-900 {
          font-family: 'Vesper Libre' !important;
          font-weight: 900 !important;
}