.u-font-lora-400 {
          font-family: 'Lora' !important;
          font-weight: 400 !important;
}
.u-font-lora-500 {
          font-family: 'Lora' !important;
          font-weight: 500 !important;
}
.u-font-lora-600 {
          font-family: 'Lora' !important;
          font-weight: 600 !important;
}
.u-font-lora-700 {
          font-family: 'Lora' !important;
          font-weight: 700 !important;
}
.u-font-lora-400-italic {
        font-family: 'Lora' !important;
        font-weight: 400 !important;
        font-style: italic !important;
}
.u-font-lora-500-italic {
        font-family: 'Lora' !important;
        font-weight: 500 !important;
        font-style: italic !important;
}
.u-font-lora-600-italic {
        font-family: 'Lora' !important;
        font-weight: 600 !important;
        font-style: italic !important;
}
.u-font-lora-700-italic {
        font-family: 'Lora' !important;
        font-weight: 700 !important;
        font-style: italic !important;
}