.u-font-srisakdi-400 {
          font-family: 'Srisakdi' !important;
          font-weight: 400 !important;
}
.u-font-srisakdi-700 {
          font-family: 'Srisakdi' !important;
          font-weight: 700 !important;
}