.u-font-sen-400 {
          font-family: 'Sen' !important;
          font-weight: 400 !important;
}
.u-font-sen-700 {
          font-family: 'Sen' !important;
          font-weight: 700 !important;
}
.u-font-sen-800 {
          font-family: 'Sen' !important;
          font-weight: 800 !important;
}