.u-font-orbitron-400 {
          font-family: 'Orbitron' !important;
          font-weight: 400 !important;
}
.u-font-orbitron-500 {
          font-family: 'Orbitron' !important;
          font-weight: 500 !important;
}
.u-font-orbitron-600 {
          font-family: 'Orbitron' !important;
          font-weight: 600 !important;
}
.u-font-orbitron-700 {
          font-family: 'Orbitron' !important;
          font-weight: 700 !important;
}
.u-font-orbitron-800 {
          font-family: 'Orbitron' !important;
          font-weight: 800 !important;
}
.u-font-orbitron-900 {
          font-family: 'Orbitron' !important;
          font-weight: 900 !important;
}