.u-font-mina-400 {
          font-family: 'Mina' !important;
          font-weight: 400 !important;
}
.u-font-mina-700 {
          font-family: 'Mina' !important;
          font-weight: 700 !important;
}