/** =======================================
    SUPERFLY FONT UTILITIES TEST
    ======================================= **/
@import "@superflycss/foundation";
@import "../../main/css/index.css";
@import "@superflycss/utilities-layout";
@import "@superflycss/utilities-colors";
@import "@superflycss/utilities-format";
@import "@superflycss/component-header";
@import "@superflycss/component-link";
@import "@superflycss/component-test";
@import "@superflycss/component-display";
@import "@superflycss/component-body";

body {
  counter-reset: test-counter;
}

/** Define a color palette */
:root {
  /** Header */
  --Palette--Header-border-color:  #a79696;
  --Palette--Header-text-color: #a79696;
  --Palette--Header-background-color: #EC3D2E;
  /** Header_link */
  --Palette--Header_link_onHover-text-color: #8BC349;
  --Palette--Header_link_onHover-border-color: #8BC349;
  --Palette--Header_link_onVisited-text-color: gray;
  --Palette--Header_link_onVisited-border-color: gray;

  /** Test */
  --Palette--Test-background-color: #EFEFF4;
  --Palette--Test_header-background-color: whitesmoke;
}

/** Override component variables */
:root {
  --Header-background-color: var(--Palette--Header-background-color);
  --Header-padding-bottom: 3rem;
  --Header_link-padding-left: 5rem;
  --Header_link-padding-right: 5rem;
  --Header_link-padding-top: 0.5rem;
  --Header_link-padding-bottom: 0.5rem;
  --Header_link-border-radius: 4px;
  --Header_link-border-color: var(--Palette--Header-border-color);
  --Header_link-text-color: var(--Palette--Header-text-color);

  --Header_link_onHover-text-decoration: none;
  --Header_link_onHover-text-color: var(--Palette--Header_link_onHover-text-color);
  --Header_link_onHover-border-color: var(--Palette--Header_link_onHover-border-color);
  --Header_link_onVisited-text-color: var(--Palette--Header_link_onVisited-text-color);
  --Header_link_onVisited-border-color: var(--Palette--Header_link_onVisited-border-color);

  --Test-background-color: var(--Palette--Test-background-color);
  --Test_header-background-color: var(--Palette--Test_header-background-color);
  --Test_header-height: 6rem;
  --Test_container-margin-top: 2rem;

  --Test_counter-text-color: #CDDC39;
  --Test_utilities-text-color: #CDDC39;

  --Test_when-text-color: #9E9E9C;
  --Test_when-text-color: #9E9E9C;
  --Test_then-text-color: #9E9E9C;
  --Test_then-text-color: #9E9E9C;

  --Test_code-text-color: #0CA293;

  --Link-padding-bottom: 0px;
  --Link-text-color: var(--color-md-grey-800);
  --Link_onHover-text-color: var(--color-md-grey-900);
  --Link_onVisited-text-color: var(--color-md-grey-500);
}
